<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">

	<title>Skarte</title>
</head>

<body>
	<div class="wrap">
		<div th:if="${hasMessage}" class="alert alert-dismissible fade show" th:classappend="${class}" role='alert'>
			<span th:text="${message}"></span>
		</div>
		<header>
			<div class="header-main">
				<span class="title">Skarte</span>
				<span class="school">○○立○○中学校</span>
			</div>
			<div class="menu">
				<th:block th:if="${user == null}">
					<div th:text="${header}"></div>
				</th:block>
				<th:block th:if="${user != null}">
					<div class="index">
						<a href="/top">トップ</a>
						<a href="/students">生徒</a>
						<a href="/attendance">出席簿一覧</a>
						<a href="/grade">成績一覧</a>
						<a href="/notices">お知らせ</a>
						<!--<a href="/setting">管理</a>-->
						<span class="dropdown">
							<a class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
								管理
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/setting/students">生徒管理</a></li>
								<li><a class="dropdown-item" href="/setting/class">クラス管理</a></li>
								<li><a class="dropdown-item" href="/setting/schedule">スケジュール管理</a></li>
								<li><a class="dropdown-item" href="/setting/teachers">教師一覧</a></li>
							</ul>
						</span>
					</div>
					<div class="info">
						<span th:text="${now}"></span>
						<span th:text="${user.userId}"></span>
						<span th:text="${user.lastName + ' ' + user.firstName}"></span>
						<span><a href="/logout-complete">ログアウト</a></span>
					</div>
				</th:block>
			</div>
		</header>

		<div layout:fragment="content"></div>

	</div>

	<!-- Bootstrap Javascript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.js"
		integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script src="/scripts/script.js" 　defer></script>

	<!--新規登録Modal表示用-->
	<script th:inline="javascript">
		let showNewModal = /*[[${showNewModal}]]*/ false;
		if (showNewModal) {
			let newModal = new bootstrap.Modal(document.getElementById('newModal'));
			newModal.show();
		}
		let showEditModal = /*[[${showEditModal}]]*/ false;
		if (showEditModal) {
			let editModal = new bootstrap.Modal(document.getElementById('editModal'));
			editModal.show();
		}
	</script>

</body>

</html>