<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">

		<div class="header-sub">
			<span class="headline">管理 > クラス管理</span>
			<span>
				<form th:action="@{/setting/class/list}" th:method="get">
					<select name="year">
						<option value="2023" th:selected="${(year == null && nendo == 2023) || year == 2023}">
							2023年度</option>
						<option value="2024" th:selected="${(year == null && nendo == 2024) || year == 2024}">
							2024年度</option>
						<option value="2025" th:selected="${(year == null && nendo == 2025) || year == 2025}">
							2025年度</option>
						<option value="2026" th:selected="${(year == null && nendo == 2026) || year == 2026}">
							2026年度</option>
						<option value="2027" th:selected="${(year == null && nendo == 2027) || year == 2027}">
							2027年度</option>
						<option value="2028" th:selected="${(year == null && nendo == 2028) || year == 2028}">
							2028年度</option>
						<option value="2029" th:selected="${(year == null && nendo == 2029) || year == 2029}">
							2029年度</option>
						<option value="2030" th:selected="${(year == null && nendo == 2030) || year == 2030}">
							2030年度</option>
					</select>
					<select name="nen">
						<option value="1" th:selected="${nen == 1}">1年</option>
						<option value="2" th:selected="${nen == 2}">2年</option>
						<option value="3" th:selected="${nen == 3}">3年</option>
					</select>
					<select name="kumi">
						<option value="1" th:selected="${kumi == 1}">1組</option>
						<option value="2" th:selected="${kumi == 2}">2組</option>
						<option value="3" th:selected="${kumi == 3}">3組</option>
						<option value="4" th:selected="${kumi == 4}">4組</option>
						<option value="5" th:selected="${kumi == 5}">5組</option>
						<option value="6" th:selected="${kumi == 6}">6組</option>
					</select>
					<button class="btn btn-secondary btn-sm" type="submit">検索</button>
				</form>
			</span>
			<th:block th:if="${kumi > 0}">
				<span th:text="${year + '年度' + nen + '年' + kumi + '組'}" />
				<th:block th:if="${#lists.size(studentsYear) == 0}"><span>登録されている生徒はいません</span></th:block>
				<th:block th:if="${#lists.size(studentsYear) > 0}">
					<span th:text="${'登録:' + #lists.size(studentsYear)}" />
					<span th:text="${'転出/卒業:' + #lists.size(transferred)}" />
					<span th:text="${'在籍:' + #lists.size(exists)}" />
				</th:block>
				<span>
					<form th:action="@{/setting/class/register}" th:method="get">
						<input type="hidden" name="year" th:value="${year}" />
						<input type="hidden" name="nen" th:value="${nen}" />
						<input type="hidden" name="kumi" th:value="${kumi}" />
						<button class="btn btn-primary btn-sm" type="submit">クラス一括登録</button>
					</form>
				</span>
				<span>
					<form th:action="@{/setting/class/new}" th:method="get">
						<input type="hidden" name="year" th:value="${year}" />
						<input type="hidden" name="nen" th:value="${nen}" />
						<input type="hidden" name="kumi" th:value="${kumi}" />
						<button class="btn btn-primary btn-sm" type="submit">クラス個別追加</button>
					</form>
				</span>
				<th:block th:if="${nen==3 && year <= nendo}">
					<span>
						<form th:action="@{/setting/class/graduated}" th:method="get">
							<input type="hidden" name="year" th:value="${year}" />
							<input type="hidden" name="nen" th:value="${nen}" />
							<input type="hidden" name="kumi" th:value="${kumi}" />
							<button onClick="return checkGraduate()" class="btn btn-warning btn-sm"
								type="submit">卒業登録</button>
							<a type="button" class="d-inline-block" data-bs-toggle="tooltip"
								data-bs-custom-class="custom-tooltip" data-bs-html="true" title="・クラス全員を卒業済にします。">
								<i class="bi bi-question-circle" style="color:black;"></i>
							</a>
						</form>
					</span>
				</th:block>
			</th:block>
		</div>

		<main>
			<th:block th:if="${kumi > 0 && #lists.size(studentsYear) > 0}">
				<div><span style="font-weight:bold">登録済生徒</span>
					<span>
						<a type="button" class="d-inline-block" data-bs-toggle="tooltip"
							data-bs-custom-class="custom-tooltip" data-bs-html="true" title="・転出済/卒業生徒は黄色で表示されます。">
							<i class="bi bi-question-circle" style="color:black;"></i>
						</a>
					</span>
				</div>
				<div class="table-sticky">
					<table class="table table-striped table-sm" style="width: 100%; text-align:center;">
						<thead>
							<tr>
								<th style="width: 10%">#</th>
								<th style="width: 10%">生徒ID</th>
								<th style="width: 20%">名前</th>
								<th style="width: 20%">なまえ</th>
								<th style="width: 10%">生年月日</th>
								<th style="width: 10%">性別</th>
								<th style="width: 10%">写真</th>
								<th style="width: 10%"></th>
							</tr>
						</thead>
						<tbody>
							<div th:each="studentYear, stat : ${studentsYear}">
								<div th:each="student : ${studentYear.students}">
									<th:block th:if="${student.transferred == false}">
										<tr>
											<td th:text="${studentYear.ban}"></td>
											<td th:text="${studentYear.studentId}"></td>
											<td><a th:href="@{/setting/students/{id} (id=${student.studentId})}"
													th:text="${student.lastName} + ' ' + ${student.firstName}"></a></td>
											<td th:text="${student.lastNameKana + ' ' + student.firstNameKana}">
											</td>
											<td th:text="${student.birth}"></td>
											<td th:text="${gender[__student.gender__]}"></td>
											<td>
												<th:block th:if="${studentYear.image != null}">
													<a class="d-inline-block" data-bs-toggle="tooltip"
														data-bs-html="true"
														th:title="${studentYear.studentId} + ' ' + ${student.lastName} + ' ' + ${student.firstName} + '<img src=&quot;' + ${images[__${stat.index}__]} + '&quot; width=&quot;100&quot;>'">
														<i class="bi bi-person-square" style="color:black;"></i>
													</a>
												</th:block>
											</td>
											<td>
												<a th:href="@{/setting/class/{id} (id=${studentYear.studentYearId})}">
													<i class="bi bi-pencil-square text-success"></i></a>
											</td>
										</tr>
									</th:block>
									<th:block th:if="${student.transferred == true}">
										<tr class="table-warning">
											<td th:text="${studentYear.ban}"></td>
											<td th:text="${studentYear.studentId}"></td>
											<td><a th:href="@{/setting/students/{id} (id=${student.studentId})}"
													th:text="${student.lastName} + ' ' + ${student.firstName}"></a></td>
											<td th:text="${student.lastNameKana + ' ' + student.firstNameKana}">
											</td>
											<td th:text="${student.birth}"></td>
											<td th:text="${gender[__student.gender__]}"></td>
											<td>
												<th:block th:if="${studentYear.image != null}">
													<a class="d-inline-block" data-bs-toggle="tooltip"
														data-bs-html="true"
														th:title="${studentYear.studentId} + ' ' + ${student.lastName} + ' ' + ${student.firstName} + '<img src=&quot;' + ${images[__${stat.index}__]} + '&quot; width=&quot;100&quot;>'">
														<i class="bi bi-person-square" style="color:black;"></i>
													</a>
												</th:block>
											</td>
											<td>
												<a th:href="@{/setting/class/{id} (id=${studentYear.studentYearId})}"><i
														class="bi bi-pencil-square text-success"></i></a>
											</td>
										</tr>
									</th:block>
								</div>
							</div>
						</tbody>
					</table>
				</div>
			</th:block>
		</main>

	</div>
</body>

</html>