<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">

		<h2>クラス個別登録</h2>
		<div>転入生徒を追加する場合は、この処理をおこなってください。</div>
		<div>追加された生徒には、一番最後の出席番号が割り当てられます。</div>

		<form th:action="@{/setting/class/list}" th:method="get">
			<input type="hidden" name="year" th:value="${year}" />
			<input type="hidden" name="nen" th:value="${nen}" />
			<input type="hidden" name="kumi" th:value="${kumi}" />
			<button class="btn btn-default" type="submit">クラス検索にもどる</button>
		</form>

		<div><span th:text="${year}" />年度<span th:text="${nen}" />年<span th:text="${kumi}" />組</div>

		<div>クラス在籍生徒一覧</div>
		<th:block th:if="${#lists.size(studentsYear) == 0}">在籍している生徒はいません</th:block>
		<th:block th:if="${#lists.size(studentsYear) > 0}">
			<table border="1" style="border-collapse: collapse">
				<thead>
					<tr>
						<th>出席番号</th>
						<th>生徒番号</th>
						<th>名前</th>
						<th>なまえ</th>
						<th>生年月日</th>
						<th>性別</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="studentYear : ${studentsYear}">
						<th th:text="${studentYear.ban}"></th>
						<td th:text="${studentYear.studentId}"></td>
						<div th:each="student : ${studentYear.students}">
							<td th:text="${student.lastName + ' ' + student.firstName}"></td>
							<td th:text="${student.lastNameKana + ' ' + student.firstNameKana}"></td>
							<td th:text="${student.birth}"></td>
							<td th:text="${gender[__student.gender__]}"></td>
						</div>
					</tr>
				</tbody>
			</table>
		</th:block>

		<div>登録可能生徒一覧</div>
		<th:block th:if="${#lists.size(students) == 0}">登録可能な生徒はいません</th:block>
		<th:block th:if="${#lists.size(students) > 0}">
			<table border="1" style="border-collapse: collapse">
				<thead>
					<tr>
						<th></th>
						<th>生徒番号</th>
						<th>名前</th>
						<th>なまえ</th>
						<th>生年月日</th>
						<th>性別</th>
						<th colspan="2">登録済クラス</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="student : ${students}">
						<td>
							<form th:action="@{/setting/class/add}" th:method="post">
								<input type="hidden" name="year" th:value="${year}" />
								<input type="hidden" name="nen" th:value="${nen}" />
								<input type="hidden" name="kumi" th:value="${kumi}" />
								<input type="hidden" name="studentId" th:value="${student.studentId}" />
								<button class="btn btn-default"  onClick="return checkAddClass()"　 type="submit">追加</button>
							</form>
						</td>
						<td th:text="${student.studentId}"></td>
						<td th:text="${student.lastName + ' ' + student.firstName}"></td>
						<td th:text="${student.lastNameKana + ' ' + student.firstNameKana}"></td>
						<td th:text="${student.birth}"></td>
						<td th:text="${gender[__student.gender__]}"></td>
						<th:block th:each="studentYear : ${student.studentsYear}">
							<td th:text="${studentYear.year + '年度' + studentYear.nen + '年' + studentYear.kumi + '組'}">
							</td>
						</th:block>
					</tr>
				</tbody>
			</table>
		</th:block>

	</div>
</body>

</html>