<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">
		<h1>生徒詳細</h1>
		<tr th:each="student : ${students}">
			<a class="buttons clearfix" th:href="@{/setting/students/{id}/edit (id=${student.studentId})}">
				生徒編集
			</a>
			<a class="buttons clearfix" th:href="@{/setting/students/{id}/deleteStudent (id=${student.studentId})}">
				生徒削除
			</a>
		</tr>

		<table border="1" style="border-collapse: collapse">
			<thead>
				<tr>
					<th>生徒番号</th>
					<th>姓</th>
					<th>名</th>
					<th>せい</th>
					<th>めい</th>

					<th>生年月日</th>
					<th>性別</th>
					<th>保護者1</th>
					<th>保護者2</th>
					<th>電話1</th>
					<th>電話2</th>
					<th>電話3</th>
					<th>電話4</th>
					<th>郵便番号</th>
					<th>住所</th>
					<th>メモ</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="student : ${students}">
					<td th:text="${student.studentId}"></td>
					<td th:text="${student.lastName}"></td>
					<td th:text="${student.firstName}"></td>
					<td th:text="${student.lastNameKana}"></td>
					<td th:text="${student.firstNameKana}"></td>

					<td th:text="${#dates.format(student.birth, 'yyyy-MM-dd')}"></td>
					<td th:text="${student.gender}"></td>
					<td th:text="${student.family1}"></td>
					<td th:text="${student.family2}"></td>
					<td th:text="${student.tel1}"></td>
					<td th:text="${student.tel2}"></td>
					<td th:text="${student.tel3}"></td>
					<td th:text="${student.tel4}"></td>
					<td th:text="${student.postalCode}"></td>
					<td th:text="${student.adress}"></td>
					<td th:text="${student.memo}"></td>
				</tr>
			</tbody>
		</table>


		<h1 th:text="${studentsYear[0]?.year}"></h1>
		<h1 th:text="${studentsYear[1]?.year}"></h1>
		<h1 th:text="${studentsYear[2]?.year}"></h1>
		<h1 th:text="${studentsYear[2]?.year}"></h1>

		<h1>登録クラス</h1>
		<table>
			<thead>
				<tr>
					<th>年度</th>
					<th>年</th>
					<th>組</th>
					<th>番</th>
					<th>写真</th>
					<!--<th>編集</th>-->
					<!--<th>削除</th>-->
				</tr>
			</thead>
			<tbody>
				<tr th:each="studentYear : ${studentsYear}">
					<td th:text="${studentYear.year}"></td>
					<td th:text="${studentYear.nen}"></td>
					<td th:text="${studentYear.kumi}"></td>
					<td th:text="${studentYear.ban}"></td>
					<td th:text="${studentYear.path}"></td>
					<td><a class="buttons clearfix"
							th:href="@{/setting/students/{id}/editClass (id=${studentYear.studentYearId})}">
							編集
						</a></td>
					<!--<td><a class="buttons clearfix"
							th:href="@{/setting/students/{id}/deleteClass (id=${studentYear.studentYearId})}">
							削除
						</a></td>-->
				</tr>
			</tbody>
		</table>

		<table border="1" style="border-collapse: collapse">
			<tbody>
				<tr>
					<td>
						<th:block th:each="studentYear : ${studentsYear}" th:if="${studentYear.nen == 1}"
							th:text="${studentYear.year + '年度'}">
						</th:block>
					</td>
					<td>1年</td>
					<td>
						<th:block th:each="studentYear : ${studentsYear}" th:if="${studentYear.nen == 1}"
							th:text="${studentYear.kumi + '組'}">
						</th:block>
					</td>
					<td>
						<th:block th:each="studentYear : ${studentsYear}" th:if="${studentYear.nen == 1}"
							th:text="${studentYear.ban + '番'}">
						</th:block>
					</td>
					<td>
						<th:block th:each="studentYear : ${studentsYear}" th:if="${studentYear.nen == 2}"
							th:text="${studentYear.year + '年度'}">
						</th:block>
					</td>
					<td>2年</td>
					<td>
						<th:block th:each="studentYear : ${studentsYear}" th:if="${studentYear.nen == 2}"
							th:text="${studentYear.kumi + '組'}">
						</th:block>
					</td>
					<td>
						<th:block th:each="studentYear : ${studentsYear}" th:if="${studentYear.nen == 2}"
							th:text="${studentYear.ban + '番'}">
						</th:block>
					</td>
					<td>
						<th:block th:each="studentYear : ${studentsYear}" th:if="${studentYear.nen == 3}"
							th:text="${studentYear.year + '年度'}">
						</th:block>
					</td>
					<td>3年</td>
					<td>
						<th:block th:each="studentYear : ${studentsYear}" th:if="${studentYear.nen == 3}"
							th:text="${studentYear.kumi + '組'}">
						</th:block>
					</td>
					<td>
						<th:block th:each="studentYear : ${studentsYear}" th:if="${studentYear.nen == 3}"
							th:text="${studentYear.ban + '番'}">
						</th:block>
					</td>
				</tr>
				<tr>
					<td colspan="4">写真
						<th:block th:each="studentYear : ${studentsYear}" th:if="${studentYear.nen == 1}"
							th:text="${studentYear.path}">
						</th:block>
					</td>
					<td colspan="4">写真
						<th:block th:each="studentYear : ${studentsYear}" th:if="${studentYear.nen == 2}"
							th:text="${studentYear.path}">
						</th:block>
					</td>
					<td colspan="4">
						<th:block th:each="studentYear : ${studentsYear}" th:if="${studentYear.nen == 3}">
							<p th:text="${studentYear.path}"></p>
							<form th:action="@{/setting/students/{id}/updateclass (id=${studentYearId})}"
								th:method="post" th:object="${studentsYear}">
								<button class="btn btn-default" type="submit">登録</button>
								<div class="form-group">
									<input class="form-control" type="text" name="path" />
								</div>
							</form>
						</th:block>
					</td>
				</tr>
			</tbody>
		</table>
		<br>
		<h1>★クラス一括編集用</h1>
		<form th:action="@{/setting/students/addClassMulti}" th:method="post" th:object="${students}">
			<input class="form-control" name="studentId" th:value="*{studentId}" />

			<div class="form-group">
				<label class="control-label">年度</label>
				<select name="years[]">
					<option value="2023">2023</option>
					<option value="2024">2024</option>
					<option value="2025">2025</option>
					<option value="2026">2026</option>
					<option value="2027">2027</option>
					<option value="2028">2028</option>
					<option value="2029">2029</option>
					<option value="2030">2030</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">年</label>
				<select name="nens[]">
					<option value="1">1</option>
					<!--<option value="2">2</option>
					<option value="3">3</option>-->
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">組</label>
				<select name="kumis[]">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">番</label>
				<input class="form-control" type="number" name="bans[]" />
			</div>


			<div class="form-group">
				<input class="form-control" name="studentIds[]" th:value="*{studentId}" />
				<!--<input class="form-control" type="text" name="studentId[]" value="2024002" />-->
			</div>
			<div class="form-group">
				<label class="control-label">年度</label>
				<select name="years[]">
					<option value="2023">2023</option>
					<option value="2024">2024</option>
					<option value="2025">2025</option>
					<option value="2026">2026</option>
					<option value="2027">2027</option>
					<option value="2028">2028</option>
					<option value="2029">2029</option>
					<option value="2030">2030</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">年</label>
				<select name="nens[]">
					<!--<option value="1">1</option>-->
					<option value="2">2</option>
					<!--<option value="3">3</option>-->
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">組</label>
				<select name="kumis[]">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">番</label>
				<input class="form-control" type="number" name="bans[]" />
			</div>


			<div class="form-group">
				<input class="form-control" name="studentIds[]" th:value="*{studentId}" />
				<!--<input class="form-control" type="text" name="studentId[]" value="2024002" />-->
			</div>
			<div class="form-group">
				<label class="control-label">年度</label>
				<select name="years[]">
					<option value="2023">2023</option>
					<option value="2024">2024</option>
					<option value="2025">2025</option>
					<option value="2026">2026</option>
					<option value="2027">2027</option>
					<option value="2028">2028</option>
					<option value="2029">2029</option>
					<option value="2030">2030</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">年</label>
				<select name="nens[]">
					<!--<option value="1">1</option>
					<option value="2">2</option>-->
					<option value="3">3</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">組</label>
				<select name="kumis[]">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">番</label>
				<input class="form-control" type="number" name="bans[]" />
			</div>

			★写真を追加するフォームを追加

			<button class="btn btn-default" type="submit">登録</button>
		</form>




		<h1>クラス一括編集用</h1>
		<form th:action="@{/setting/students/updateClassMulti}" th:method="post" 　th:object="${studentsYear}">
			<table border="1" style="border-collapse: collapse">
				<tbody>
					<tr>
						<td>
							<div th:each="studentYear : ${studentsYear}" 　th:if="${studentYear.nen == 1}"
								th:object="${studentsYear}">
								<div class="form-group">
									<input class="form-control" type="hidden" name="studentYearIds[]"
										th:value="${studentYear.studentYearId}" />
									<input class="form-control" type="hidden" name="studentIds[]"
										th:value="${studentYear.studentId}" />
									<input class="form-control" type="number" name="years[]"
										th:value="${studentYear.year}" />年度
									<input class="form-control" type="hidden" name="nens[]"
										th:value="${studentYear.nen}" />1年
									<input class="form-control" type="number" name="kumis[]"
										th:value="${studentYear.kumi}" />組
									<input class="form-control" type="number" name="bans[]"
										th:value="${studentYear.ban}" />番
								</div>
							</div>
							<div th:each="studentYear : ${studentsYear}"
								　th:unless="${studentYear.nen == 1 or studentYear.nen == 2 or studentYear.nen == 3}"
								th:object="${studentsYear}">
								<div class="form-group">
									<input class="form-control" type="hidden" name="studentYearIds[]"
										th:value="${studentYear.studentYearId}" />
									<input class="form-control" type="hidden" name="studentIds[]"
										th:value="${studentYear.studentId}" />
									<input class="form-control" type="number" name="years[]" />年度
									<input class="form-control" type="hidden" name="nens[]" th:value="1" />1年
									<input class="form-control" type="number" name="kumis[]" />組
									<input class="form-control" type="number" name="bans[]" />番
								</div>
							</div>
						</td>
						<td>
							<div th:each="studentYear : ${studentsYear}" 　th:if="${studentYear.nen == 2}"
								th:object="${studentsYear}">
								<div class="form-group">
									<input class="form-control" type="hidden" name="studentYearIds[]"
										th:value="${studentYear.studentYearId}" />
									<input class="form-control" type="hidden" name="studentIds[]"
										th:value="${studentYear.studentId}" />
									<input class="form-control" type="number" name="years[]"
										th:value="${studentYear.year}" />年度
									<input class="form-control" type="hidden" name="nens[]"
										th:value="${studentYear.nen}" />2年
									<input class="form-control" type="number" name="kumis[]"
										th:value="${studentYear.kumi}" />組
									<input class="form-control" type="number" name="bans[]"
										th:value="${studentYear.ban}" />番
								</div>
							</div>
						</td>
						<td>
							<div th:each="studentYear : ${studentsYear}" 　th:if="${studentYear.nen == 3}"
								th:object="${studentsYear}">
								<div class="form-group">
									<input class="form-control" type="hidden" name="studentYearIds[]"
										th:value="${studentYear.studentYearId}" />
									<input class="form-control" type="hidden" name="studentIds[]"
										th:value="${studentYear.studentId}" />
									<input class="form-control" type="number" name="years[]"
										th:value="${studentYear.year}" />年度
									<input class="form-control" type="hidden" name="nens[]"
										th:value="${studentYear.nen}" />3年
									<input class="form-control" type="number" name="kumis[]"
										th:value="${studentYear.kumi}" />組
									<input class="form-control" type="number" name="bans[]"
										th:value="${studentYear.ban}" />番
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>写真
							<th:block th:each="studentYear : ${studentsYear}" th:if="${studentYear.nen == 1}"
								th:text="${studentYear.path}">
							</th:block>
						</td>
						<td>写真
							<th:block th:each="studentYear : ${studentsYear}" th:if="${studentYear.nen == 2}"
								th:text="${studentYear.path}">
							</th:block>
						</td>
						<td>
							<th:block th:each="studentYear : ${studentsYear}" th:if="${studentYear.nen == 3}">
								<p th:text="${studentYear.path}"></p>
							</th:block>
						</td>
					</tr>
				</tbody>
			</table>
			<button class="btn btn-default" type="submit">一括更新</button>
		</form>
		<br>







		<!--<h1>クラス編集複数個用</h1>

		<form th:action="@{/setting/students/addclassMulti}" th:method="post" 　th:object="${students}">

			<input class="form-control" name="studentId" th:value="*{studentId}" />
			<div class="form-group">
				<input class="form-control" name="studentId" th:value="*{studentId}" />
				<input class="form-control" type="text" name="studentId[]" value="2024002" />
			</div>
			<th:block th:each="studentYear : ${studentsYear}" th:object="${studentsYear}">
				<th:block th:if="${studentYear.nen == 1}">
					<div class="form-group">
						<label class="control-label">年度</label>
						<select name="year">
							<option value="2023">2023</option>
							<option value="2024">2024</option>
							<option value="2025">2025</option>
							<option value="2026">2026</option>
							<option value="2027">2027</option>
							<option value="2028">2028</option>
							<option value="2029">2029</option>
							<option value="2030">2030</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label">年</label>
						<select name="nen">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label">組</label>
						<select name="kumi">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label">番</label>
						<input class="form-control" type="number" name="ban" />
					</div>
				</th:block>
			</th:block>

			★写真を追加するフォームを追加

			<button class="btn btn-default" type="submit">登録</button>
		</form>-->

		<br>




		<h1>※※成績一括編集に使える？</h1>

		<form th:action="@{/setting/students/addclassMulti}" th:method="post" 　th:object="${students}">
			<input class="form-control" name="studentId" th:value="*{studentId}" />
			<div class="form-group">
				<input class="form-control" name="studentIds[]" th:value="*{studentId}" />
				<!--<input class="form-control" type="text" name="studentId[]" value="2024002" />-->
			</div>
			<th:block th:each="studentYear : ${studentsYear}">
				<div class="form-group">
					<label class="control-label">年度</label>
					<select name="years[]">
						<option value="2023">2023</option>
						<option value="2024">2024</option>
						<option value="2025">2025</option>
						<option value="2026">2026</option>
						<option value="2027">2027</option>
						<option value="2028">2028</option>
						<option value="2029">2029</option>
						<option value="2030">2030</option>
					</select>
				</div>
				<div class="form-group">
					<label class="control-label">年</label>
					<select name="nens[]">
						<option value="1">1</option>
						<!--<option value="2">2</option>
					<option value="3">3</option>-->
					</select>
				</div>
				<div class="form-group">
					<label class="control-label">組</label>
					<select name="kumis[]">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
					</select>
				</div>
				<div class="form-group">
					<label class="control-label">番</label>
					<input class="form-control" type="number" name="bans[]" />
				</div>
			</th:block>

			★写真を追加するフォームを追加

			<button class="btn btn-default" type="submit">登録</button>
		</form>

		<br>

		<h1>クラス新規登録1個用</h1>
		<form th:action="@{/setting/students/addClass}" th:method="post" 　th:object="${students}">
			<div class="form-group">
				<input class="form-control" type="hidden" th:field="*{studentId}" />

			</div>
			<div class="form-group">
				<label class="control-label">年度</label>
				<select name="year">
					<option value="2023">2023</option>
					<option value="2024">2024</option>
					<option value="2025">2025</option>
					<option value="2026">2026</option>
					<option value="2027">2027</option>
					<option value="2028">2028</option>
					<option value="2029">2029</option>
					<option value="2030">2030</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">年</label>
				<select name="nen">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">組</label>
				<select name="kumi">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">番</label>
				<input class="form-control" type="number" name="ban" />
			</div>

			★写真を追加するフォームを追加

			<button class="btn btn-default" type="submit">登録</button>
		</form>


		<h1>クラス新規登録一括用</h1>
		<form th:action="@{/setting/students/addClassMulti}" th:method="post" th:object="${students}">
			<input class="form-control" name="studentId" th:value="*{studentId}" />
			<div class="form-group">
				<input class="form-control" name="studentIds[]" th:value="*{studentId}" />
				<!--<input class="form-control" type="text" name="studentId[]" value="2024002" />-->
			</div>
			<div class="form-group">
				<label class="control-label">年度</label>
				<select name="years[]">
					<option value="2023">2023</option>
					<option value="2024">2024</option>
					<option value="2025">2025</option>
					<option value="2026">2026</option>
					<option value="2027">2027</option>
					<option value="2028">2028</option>
					<option value="2029">2029</option>
					<option value="2030">2030</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">年</label>
				<select name="nens[]">
					<option value="1">1</option>
					<!--<option value="2">2</option>
					<option value="3">3</option>-->
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">組</label>
				<select name="kumis[]">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">番</label>
				<input class="form-control" type="number" name="bans[]" />
			</div>


			<div class="form-group">
				<input class="form-control" name="studentIds[]" th:value="*{studentId}" />
				<!--<input class="form-control" type="text" name="studentId[]" value="2024002" />-->
			</div>
			<div class="form-group">
				<label class="control-label">年度</label>
				<select name="years[]">
					<option value="2023">2023</option>
					<option value="2024">2024</option>
					<option value="2025">2025</option>
					<option value="2026">2026</option>
					<option value="2027">2027</option>
					<option value="2028">2028</option>
					<option value="2029">2029</option>
					<option value="2030">2030</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">年</label>
				<select name="nens[]">
					<!--<option value="1">1</option>-->
					<option value="2">2</option>
					<!--<option value="3">3</option>-->
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">組</label>
				<select name="kumis[]">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">番</label>
				<input class="form-control" type="number" name="bans[]" />
			</div>


			<div class="form-group">
				<input class="form-control" name="studentIds[]" th:value="*{studentId}" />
				<!--<input class="form-control" type="text" name="studentId[]" value="2024002" />-->
			</div>
			<div class="form-group">
				<label class="control-label">年度</label>
				<select name="years[]">
					<option value="2023">2023</option>
					<option value="2024">2024</option>
					<option value="2025">2025</option>
					<option value="2026">2026</option>
					<option value="2027">2027</option>
					<option value="2028">2028</option>
					<option value="2029">2029</option>
					<option value="2030">2030</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">年</label>
				<select name="nens[]">
					<!--<option value="1">1</option>
					<option value="2">2</option>-->
					<option value="3">3</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">組</label>
				<select name="kumis[]">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">番</label>
				<input class="form-control" type="number" name="bans[]" />
			</div>

			★写真を追加するフォームを追加

			<button class="btn btn-default" type="submit">登録</button>
		</form>


		<a href="/setting/students">一覧にもどる</a>
	</div>
</body>

</html>