<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">
		<h1>生徒詳細</h1>
		<tr th:each="student : ${students}">
			<a class="buttons clearfix" th:href="@{/setting/students/{id}/edit (id=${student.studentId})}">
				生徒編集
			</a>
			<a class="buttons clearfix" th:href="@{/setting/students/{id}/deleteStudent (id=${student.studentId})}">
				生徒削除
			</a>
		</tr>

		<table border="1" style="border-collapse: collapse">
			<thead>
				<tr>
					<th>生徒番号</th>
					<th>姓</th>
					<th>名</th>
					<th>せい</th>
					<th>めい</th>

					<th>生年月日</th>
					<th>性別</th>
					<th>保護者1</th>
					<th>保護者2</th>
					<th>電話1</th>
					<th>電話2</th>
					<th>電話3</th>
					<th>電話4</th>
					<th>郵便番号</th>
					<th>住所</th>
					<th>メモ</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="student : ${students}">
					<td th:text="${student.studentId}"></td>
					<td th:text="${student.lastName}"></td>
					<td th:text="${student.firstName}"></td>
					<td th:text="${student.lastNameKana}"></td>
					<td th:text="${student.firstNameKana}"></td>

					<td th:text="${#dates.format(student.birth, 'yyyy-MM-dd')}"></td>
					<td th:text="${student.gender}"></td>
					<td th:text="${student.family1}"></td>
					<td th:text="${student.family2}"></td>
					<td th:text="${student.tel1}"></td>
					<td th:text="${student.tel2}"></td>
					<td th:text="${student.tel3}"></td>
					<td th:text="${student.tel4}"></td>
					<td th:text="${student.postalCode}"></td>
					<td th:text="${student.adress}"></td>
					<td th:text="${student.memo}"></td>
				</tr>
			</tbody>
		</table>

		<h1>登録クラス</h1>
		<table>
			<thead>
				<tr>
					<th>年度</th>
					<th>年</th>
					<th>組</th>
					<th>番</th>
					<th>写真</th>
					<!--<th>編集</th>-->
					<!--<th>削除</th>-->
				</tr>
			</thead>
			<tbody>
				<tr th:each="studentYear : ${studentsYear}">
					<td th:text="${studentYear?.year}"></td>
					<td th:text="${studentYear?.nen}"></td>
					<td th:text="${studentYear?.kumi}"></td>
					<td th:text="${studentYear?.ban}"></td>
					<td th:text="${studentYear?.path}"></td>
					<td><a class="buttons clearfix"
							th:href="@{/setting/students/{id}/editClass (id=${studentYear?.studentYearId})}">
							編集
						</a></td>
					<!--<td><a class="buttons clearfix"
							th:href="@{/setting/students/{id}/deleteClass (id=${studentYear.studentYearId})}">
							削除
						</a></td>-->
				</tr>
			</tbody>
		</table>

		<h1>登録クラス表</h1>
		<table border="1" style="border-collapse: collapse">
			<tbody>
				<tr>
					<td　th:text="${studentsYear[0]?.year + '年度' }">
					</td>
					<td>1年</td>
					<td th:text="${studentsYear[0]?.kumi + '組'}">
					</td>
					<td th:text="${studentsYear[0]?.ban + '番'}">
					</td>
					<td　th:text="${studentsYear[1]?.year + '年度' }">
					</td>
					<td>2年</td>
					<td th:text="${studentsYear[1]?.kumi + '組'}">
					</td>
					<td th:text="${studentsYear[1]?.ban + '番'}">
					</td>
					<td　th:text="${studentsYear[2]?.year + '年度' }">
					</td>
					<td>3年</td>
					<td th:text="${studentsYear[2]?.kumi + '組'}">
					</td>
					<td th:text="${studentsYear[2]?.ban + '番'}">
					</td>
				</tr>
				<tr>
					<td colspan="4" th:text="${studentsYear[0]?.path}">写真
					</td>
					<td colspan="4" th:text="${studentsYear[1]?.path}">写真
					</td>
					<td colspan="4" th:text="${studentsYear[2]?.path}">写真
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<th:block th:if="${studentsYear[0] != null}">
							<a class="buttons clearfix"
								th:href="@{/setting/students/{id}/editClass (id=${studentsYear[0]?.studentYearId})}">
								編集
							</a>
						</th:block>
						<th:block th:if="${studentsYear[0] == null}">
							<form th:action="@{/setting/students/addClass}" th:method="post" 　th:object="${students}">
								<div class="form-group">
									<input class="form-control" type="hidden" th:field="*{studentId}" />

								</div>
								<div class="form-group">
									<label class="control-label">年度</label>
									<select name="year">
										<option value="2023">2023</option>
										<option value="2024">2024</option>
										<option value="2025">2025</option>
										<option value="2026">2026</option>
										<option value="2027">2027</option>
										<option value="2028">2028</option>
										<option value="2029">2029</option>
										<option value="2030">2030</option>
									</select>
								</div>
								<div class="form-group">
									<label class="control-label">1年</label>
									<input class="form-control" type="hidden" name="nen" value="1">
								</div>
								<div class="form-group">
									<label class="control-label">組</label>
									<select name="kumi">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
									</select>
								</div>
								<div class="form-group">
									<label class="control-label">番</label>
									<input class="form-control" type="number" name="ban" />
								</div>

								★写真を追加するフォームを追加

								<button class="btn btn-default" type="submit">新規登録</button>
							</form>
						</th:block>
					</td>
					<td colspan="4">
						<th:block th:if="${studentsYear[1] != null}">
							<a class="buttons clearfix"
								th:href="@{/setting/students/{id}/editClass (id=${studentsYear[1]?.studentYearId})}">
								編集
							</a>
						</th:block>
						<th:block th:if="${studentsYear[1] == null}">
							<form th:action="@{/setting/students/addClass}" th:method="post" 　th:object="${students}">
								<div class="form-group">
									<input class="form-control" type="hidden" th:field="*{studentId}" />

								</div>
								<div class="form-group">
									<label class="control-label">年度</label>
									<select name="year">
										<option value="2023">2023</option>
										<option value="2024">2024</option>
										<option value="2025">2025</option>
										<option value="2026">2026</option>
										<option value="2027">2027</option>
										<option value="2028">2028</option>
										<option value="2029">2029</option>
										<option value="2030">2030</option>
									</select>
								</div>
								<div class="form-group">
									<label class="control-label">2年</label>
									<input class="form-control" type="hidden" name="nen" value="2">
								</div>
								<div class="form-group">
									<label class="control-label">組</label>
									<select name="kumi">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
									</select>
								</div>
								<div class="form-group">
									<label class="control-label">番</label>
									<input class="form-control" type="number" name="ban" />
								</div>

								★写真を追加するフォームを追加

								<button class="btn btn-default" type="submit">新規登録</button>
							</form>
						</th:block>
					</td>
					<td colspan="4">
						<th:block th:if="${studentsYear[2] != null}">
							<a class="buttons clearfix"
								th:href="@{/setting/students/{id}/editClass (id=${studentsYear[2]?.studentYearId})}">
								編集
							</a>
						</th:block>
						<th:block th:if="${studentsYear[2] == null}">
							<form th:action="@{/setting/students/addClass}" th:method="post" 　th:object="${students}">
								<div class="form-group">
									<input class="form-control" type="hidden" th:field="*{studentId}" />

								</div>
								<div class="form-group">
									<label class="control-label">年度</label>
									<select name="year">
										<option value="2023">2023</option>
										<option value="2024">2024</option>
										<option value="2025">2025</option>
										<option value="2026">2026</option>
										<option value="2027">2027</option>
										<option value="2028">2028</option>
										<option value="2029">2029</option>
										<option value="2030">2030</option>
									</select>
								</div>
								<div class="form-group">
									<label class="control-label">3年</label>
									<input class="form-control" type="hidden" name="nen" value="3">
								</div>
								<div class="form-group">
									<label class="control-label">組</label>
									<select name="kumi">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
									</select>
								</div>
								<div class="form-group">
									<label class="control-label">番</label>
									<input class="form-control" type="number" name="ban" />
								</div>

								★写真を追加するフォームを追加

								<button class="btn btn-default" type="submit">新規登録</button>
							</form>
						</th:block>
					</td>
				</tr>
			</tbody>
		</table>
		<br>

		<h1>クラス新規登録1個用</h1>
		<form th:action="@{/setting/students/addClass}" th:method="post" 　th:object="${students}">
			<div class="form-group">
				<input class="form-control" type="hidden" th:field="*{studentId}" />

			</div>
			<div class="form-group">
				<label class="control-label">年度</label>
				<select name="year">
					<option value="2023">2023</option>
					<option value="2024">2024</option>
					<option value="2025">2025</option>
					<option value="2026">2026</option>
					<option value="2027">2027</option>
					<option value="2028">2028</option>
					<option value="2029">2029</option>
					<option value="2030">2030</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">年</label>
				<select name="nen">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">組</label>
				<select name="kumi">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">番</label>
				<input class="form-control" type="number" name="ban" />
			</div>

			★写真を追加するフォームを追加

			<button class="btn btn-default" type="submit">登録</button>
		</form>


		<a href="/setting/students">一覧にもどる</a>
	</div>
</body>

</html>