<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">
		<h1>生徒情報編集</h1>
		<li th:each="student : ${students}">
			<article class="student">
				生徒番号：
				<h2 th:text="${student.studentId}" />
				<form th:action="@{/setting/students/{id}/updatestudent (id=${student.studentId})}" th:method="post"
					th:object="${students}">
					
					*は必須項目

					<div class="form-group">
						<label class="control-label">*姓</label>
						<input class="form-control" type="text" th:field="*{lastName}" />
					</div>
					<div class="form-group">
						<label class="control-label">*名</label>
						<input class="form-control" type="text" th:field="*{firstName}" />
					</div>
					<div class="form-group">
						<label class="control-label">*せい</label>
						<input class="form-control" type="text" th:field="*{lastNameKana}" />
					</div>
					<div class="form-group">
						<label class="control-label">*めい</label>
						<input class="form-control" type="text" th:field="*{firstNameKana}" />
					</div>
					<div class="form-group">
						<label class="control-label">*生年月日</label>
						<input class="form-control" type="date" th:field="*{birth}" />
					</div>
					<div class="form-group">
						<label class="control-label">*性別</label>
						<select th:field="*{gender}">
							<option value="1">男</option>
							<option value="2">女</option>
							<option value="3">他</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label">*家族1（保護者名）</label>
						<input class="form-control" type="text" th:field="*{family1}" />
					</div>
					<div class="form-group">
						<label class="control-label">家族2</label>
						<input class="form-control" type="text" th:field="*{family2}" />
					</div>
					<div class="form-group">
						<label class="control-label">家族3</label>
						<input class="form-control" type="text" th:field="*{family3}" />
					</div>
					<div class="form-group">
						<label class="control-label">家族4</label>
						<input class="form-control" type="text" th:field="*{family4}" />
					</div>
					<div class="form-group">
						<label class="control-label">電話1</label>
						<input class="form-control" type="tel" th:field="*{tel1}" />
					</div>
					<div class="form-group">
						<label class="control-label">電話2</label>
						<input class="form-control" type="tel" th:field="*{tel2}" />
					</div>
					<div class="form-group">
						<label class="control-label">電話3</label>
						<input class="form-control" type="tel" th:field="*{tel3}" />
					</div>
					<div class="form-group">
						<label class="control-label">電話4</label>
						<input class="form-control" type="tel" th:field="*{tel4}" />
					</div>
					<div class="form-group">
						<label class="control-label">*郵便番号</label>
						<input class="form-control" type="number" th:field="*{postalCode}" />
					</div>
					<div class="form-group">
						<label class="control-label">*住所</label>
						<input class="form-control" type="text" th:field="*{adress}" />
					</div>
					<div class="form-group">
						<label class="control-label">メモ</label>
						<input class="form-control" type="text" th:field="*{memo}" />
					</div>
					
					<button class="btn btn-default" type="submit">更新</button>
				</form>
			</article>
		</li>

　　　　　　　　<a href="#" onclick="history.back()">生徒詳細にもどる</a>
		<a href="/setting/students">生徒管理にもどる</a>

	</div>
</body>

</html>