<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">


		<div class="header" style="display:inline-flex">
			<div class="headline">スケジュール管理</div>
			<form th:action="@{/setting/schedule/year}" th:method="get">
				<select name="year">
					<option value="2023" th:selected="${(year == null && nendo == 2023) || year == 2023}">
						2023年度</option>
					<option value="2024" th:selected="${(year == null && nendo == 2024) || year == 2024}">
						2024年度</option>
					<option value="2025" th:selected="${(year == null && nendo == 2025) || year == 2025}">
						2025年度</option>
					<option value="2026" th:selected="${(year == null && nendo == 2026) || year == 2026}">
						2026年度</option>
					<option value="2027" th:selected="${(year == null && nendo == 2027) || year == 2027}">
						2027年度</option>
					<option value="2028" th:selected="${(year == null && nendo == 2028) || year == 2028}">
						2028年度</option>
					<option value="2029" th:selected="${(year == null && nendo == 2029) || year == 2029}">
						2029年度</option>
					<option value="2030" th:selected="${(year == null && nendo == 2030) || year == 2030}">
						2030年度</option>
				</select>
				<button class="btn btn-default" type="submit">表示</button>
			</form>

			<th:block th:if="${year != null}">


				<th:block th:if="${count == 0}">

					<form th:action="@{/setting/schedule/new}" th:method="post">
						<input class="form-control" type="hidden" name="year" th:value="${year}" />
						<button onClick="return checkNewSchedule()" class="btn btn-default" type="submit">一括追加</button>
					</form>
				</th:block>


				<th:block th:if="${count != 0}">
					<span th:text="${year}" />年度&emsp;年間登校日数:<span th:text="${count}" />日
				</th:block>
			</th:block>
		</div>

		<main>
			<th:block th:if="${year != null && count != 0}">
				<form th:action="@{/setting/schedule/update}" th:method="post">
					<input class="form-control" type="hidden" name="year" th:value="${year}" />
					<button class="btn btn-default" onClick="return checkUpdate()" type="submit">更新</button>



					<table border="1" style="border-collapse: collapse" th:each="scheduleM, stat : ${schedule}">
						<tr>
							<th rowspan="2" 　th:text="${#temporals.format(scheduleM[0].date, 'M月')}"></th>
							<th:block th:each="scheduleD : ${scheduleM}">
								<th>
									<div th:text="${#temporals.format(scheduleD.date, 'd')}"></div>
								</th>
							</th:block>
						</tr>
						<tr>
							<th:block th:each="scheduleD : ${scheduleM}">
								<th th:text="${#temporals.format(scheduleD.date, 'E')}"></th>
							</th:block>
						</tr>
						<tr>
							<th:block>
								<td>月登校日数:<span th:text="${size[__${stat.index}__]}" /></td>
							</th:block>
							<th:block th:each="scheduleD : ${scheduleM}">
								<td>
									<input class="form-control" type="hidden" name="scheduleIds[]"
										th:value="${scheduleD?.scheduleId}" />

									<select name="holidays[]" th:value="${scheduleD?.holiday}" class="select-schedule">
										<option value="false" th:selected="${scheduleD?.holiday == false}">
										</option>
										<option value="true" th:selected="${scheduleD?.holiday == true}">休
										</option>
									</select>

									<th:block th:if="${scheduleD?.holiday == true}">
										<div>休</div>
									</th:block>
									<th:block th:if="${scheduleD?.holiday == false}">
										<div>　</div>
									</th:block>
								</td>
							</th:block>
						</tr>
					</table>


				</form>
			</th:block>

		</main>
	</div>


</body>

</html>