<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">
		<h1>生徒管理</h1>

		<a href="/setting/students/newstudent">生徒新規登録</a>

		<form method="post" action="/setting/students/upload.csv" enctype="multipart/form-data">
			<input type="file" name="file">
			<input type="submit" name="upload_file" value="CSVアップロード">
			<!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
		</form>

		<form method="get" action="/setting/students/download.csv">
			<input type="submit" name="download_file" value="CSVダウンロード">
			<!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
		</form>

		<table>
			<thead>
				<tr>
					<th>生徒番号</th>
					<th>姓</th>
					<th>名</th>
					<th>せい</th>
					<th>めい</th>
					<th>生徒詳細</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="student : ${students}">
					<td th:text="${student.studentId}"></td>
					<td th:text="${student.lastName}"></td>
					<td th:text="${student.firstName}"></td>
					<td th:text="${student.lastNameKana}"></td>
					<td th:text="${student.firstNameKana}"></td>
					<td><a class="buttons clearfix" th:href="@{/setting/students/{id}/details (id=${student.studentId})}">
							生徒詳細
						</a></td>	
				</tr>
			</tbody>
		</table>

		<a href="/setting">もどる</a>
	</div>
</body>

</html>