<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">


<body>
	<div layout:fragment="content">
		<div class="header-sub">
			<span class="headline">管理>教師一覧</span>
		</div>

		<main>
			<div class="center-block">
				<table class="table table-striped">
					<!--<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">氏名</th>
					</tr>
				</thead>-->
					<tbody>
						<tr th:each="teacher : ${teachers}" class="row">
							<td class="col-1" style="text-align:center" th:text="${teacher.userId}"></td>
							<td class="col-2" style="text-align:center"
								th:text="${teacher.lastName} + ' ' + ${teacher.firstName}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</main>

	</div>
</body>

</html>