<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">
		<h2>お知らせ詳細</h2>

		<table>
			<thead>
				<tr>
					<th>タイトル</th>
					<th>内容</th>
					<th>更新者</th>
					<th>更新日時</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<div th:each="notice : ${notices}">
						<td th:text="${notice.title}"></td>
						<td th:text="${notice.contents}"></td>
						<td th:text="${notice.updatedBy}"></td>
						<td th:text="${notice.updatedAt}"></td>
						<td><a class="buttons clearfix"
								th:href="@{/notices/contents/{id}/edit (id=${notice.noticeId})}">
								編集
							</a></td>
						<td><a class="buttons clearfix"
								th:href="@{/notices/contents/{id}/delete (id=${notice.noticeId})}">
								削除
							</a></td>
					</div>
				</tr>
			</tbody>
		</table>

		<a href="/notices">一覧にもどる</a>

	</div>
</body>

</html>