<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">


<body>
	<div layout:fragment="content">

		<div class="header" style="display:inline-flex">

			<div class="headline">お知らせ</div>

			<!--新規登録用Modalを開く-->
			<button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#newModal"
				style="--bs-btn-padding-y: .5rem; --bs-btn-padding-x: .5rem;">
				お知らせ新規登録
			</button>
		</div>

		<!--<a class="btn btn-primary" th:href="@{/notices/new}">
			お知らせ新規登録
		</a>-->

		<!--新規登録用Modal-->
		<div class="modal fade" id="newModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
			aria-labelledby="newModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<form th:action="@{/notices/add}" th:method="post" th:object="${form}">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="newModalLabel">お知らせ新規登録</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<!--<label class="control-label">タイトル</label>
							<input class="form-control" type="text" th:field="*{title}" th:errorclass="border-danger" />
							<div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
							</div>-->
							<label class="control-label">内容</label>
							<textarea class="form-control" id="textarea" th:field="*{contents}"
								th:errorclass="border-danger"></textarea>
							<div class="text-danger" th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}">
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
							<button type="submit" class="btn btn-primary">登録</button>
						</div>
					</form>
				</div>
			</div>
		</div>



		<main>
			<th:block th:if="${#lists.size(notices)==0}">お知らせはありません</th:block>

			<th:block th:if="${#lists.size(notices)!=0}">



				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col" style="width: 10%"><!--更新日時--></th>
							<th scope="col" style="width: 75%"><!--内容--></th>
							<th scope="col" style="width: 10%"><!--更新者--></th>
							<th scope="col" style="width: 5%"><!--編集--></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="notice : ${notices}">
							<!--<td><a th:href="@{/notices/contents/{id}(id=${notice.noticeId})}" 　th:text="${notice.title}"></a>
					</td>-->
							<!--<td th:text="${notice.title}"></td>-->
							<td>
								<div th:text="${#temporals.format(notice.updatedAt, 'yyyy-M-d')}"></div>
								<div th:text="${#temporals.format(notice.updatedAt, 'HH:mm:ss')}"></div>
							</td>
							<td th:text="${notice.contents}"></td>
							<td th:text="${updateUser[__notice.updatedBy__]}"></td>


							<td>
								<!--<a class="buttons clearfix" th:href="@{/notices/{id}/edit (id=${notice.noticeId})}">
							編集
						</a>-->
								<!--更新用Modalを開く-->
								<a class="btn btn-success btn-sm" th:href="@{/notices/{id} (id=${notice.noticeId})}">
									<i class="bi bi-pencil-square"></i>
								</a>
								<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal"
							data-bs-whatever="${notice.noticeId}">
							編集
						</button>-->

								<!--更新用Modal-->
								<div class="modal fade" id="editModal" data-bs-backdrop="static"
									data-bs-keyboard="false" tabindex="-1" aria-labelledby="editModalLabel"
									aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">

											<!--<form th:action="@{/notices/update}" th:method="post" th:object="${notice}">-->

											<form th:action="@{/notices/{id}/update (id=${id})}" th:method="post"
												th:object="${notice}">

												<div class="modal-header">
													<h1 class="modal-title fs-5" id="editModalLabel">お知らせ編集</h1>
													<button type="button" class="btn-close" data-bs-dismiss="modal"
														aria-label="Close"></button>
												</div>
												<div class="modal-body">


													<input class="form-control" type="hidden" th:field="*{noticeId}"
														th:errorclass="border-danger" />
													<!--<label class="control-label">タイトル</label>
													<input class="form-control" type="text" th:field="*{title}"
														th:errorclass="border-danger" />
													<div th:object="${form}">
														<span class="text-danger" th:if="${#fields.hasErrors('title')}"
															th:errors="*{title}"></span>
													</div>-->

													<label class="control-label">内容</label>
													<textarea class="form-control" id="textarea" th:field="*{contents}"
														th:errorclass="border-danger"></textarea>
													<div th:object="${form}">
														<span class="text-danger"
															th:if="${#fields.hasErrors('contents')}"
															th:errors="*{contents}"></span>
													</div>
												</div>
												<div class="modal-footer">
													<a class="btn btn-danger" onClick="return checkDelete()"
														th:href="@{/notices/{id}/delete (id=${id})}">
														削除
													</a>




													<button type="button" class="btn btn-secondary"
														data-bs-dismiss="modal">キャンセル</button>
													<button onClick="return checkUpdate()" type="submit"
														class="btn btn-success">更新</button>
												</div>
											</form>

											<!--<form th:action="@{/notices/delete}" th:method="post">
										<input class="form-control" type="hidden" name="noticeId" th:value="${id}" />
										<button onClick="return checkDelete()" 　type="submit"
											class="btn btn-danger">削除</button>
									</form>-->


										</div>
									</div>
								</div>

							</td>



						</tr>
					</tbody>
				</table>
			</th:block>

		</main>

	</div>

</body>

</html>