<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Skarte</title>
</head>

<body>
	<div class="users-new-wrapper">
		<main>
			<h1>ユーザー新規登録</h1>


			<form th:action="@{/users/add}" th:method="post">
				<div class="form-group">
					<label class="control-label" for="user_lastName">姓</label>
					<input class="form-control" type="text" name="lastName" />
				</div>
				<div class="form-group">
					<label class="control-label" for="user_firstName">名</label>
					<input class="form-control" type="text" name="firstName" />
				</div>
				<div class="form-group">
					<label class="control-label" for="user_userId">ユーザーID</label>
					<input class="form-control" type="number" name="userId" />
				</div>
				<div class="form-group">
					<label class="control-label" for="user_password">パスワード</label>
					<input class="form-control" type="password" name="password" />
				</div>
				<div class="form-group">
					<label class="control-label" for="user_password_confirmation">パスワード確認</label>
					<input class="form-control" type="password" name="passwordConfirmation" />
				</div>

				<button class="btn btn-default" type="submit">登録</button>
			</form>

		</main>
	</div>
</body>

</html>