<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Skarte</title>
</head>

<body>
	<div th:if="${hasMessage}" class="alert alert-dismissible fade show" th:classappend="${class}" role='alert'>
		<span th:text="${message}"></span>
	</div>

	<div class="users-new-wrapper">
		<h1>Skarte</h1>
		<main>
			<h2>ユーザー新規登録</h2>


			<form th:action="@{/users/add}" th:method="post" th:object="${userForm}">
				<div class="form-group">
					<label class="control-label" for="user_lastName">姓</label>
					<input class="form-control" type="text" name="lastName" th:value="*{lastName}" />
					<span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
				</div>
				<div class="form-group">
					<label class="control-label" for="user_firstName">名</label>
					<input class="form-control" type="text" name="firstName" th:value="*{firstName}" />
					<span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
				</div>
				<div class="form-group">
					<label class="control-label" for="user_userId">ユーザーID</label>
					<input class="form-control" type="number" name="userId" th:value="*{userId}" />
					<span class="text-danger" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"></span>
				</div>
				<div class="form-group">
					<label class="control-label" for="user_password">パスワード</label>
					<input class="form-control" type="password" name="password" />
					<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				</div>
				<div class="form-group">
					<label class="control-label" for="user_password_confirmation">パスワード確認</label>
					<input class="form-control" type="password" name="passwordConfirmation" />
					<span class="text-danger" th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}"></span>
				</div>

				<button class="btn btn-default" type="submit">登録</button>
			</form>

			<a href="/login">ログイン画面にもどる</a>

		</main>
	</div>
</body>

</html>