html {
	width: 100%;

}

.alert {
	top: 0;
	left: 0;
	margin-bottom: 0px;
	padding: 0px;
	position: fixed;
	width: 100%;
	font-size: 80%;
	text-align: center;
	z-index: 10000;
}

body {
	width: 100%;
	background-color: aliceblue
}

.wrap {
	left: 0;
	right: 0;
	width: 100%;
}

header {
	top: 0;
	padding: 0px 30px;
	position: fixed;
	width: 100%;
	height: 50px;
	z-index: 1000;
	background-color: #e6f3ff
}

.header-main {
	display: flex;
	justify-content: space-between;
}

.title {
	font-size: 100%;
	font-weight: bold;
}

.school {
	text-align: right;
}

.menu {
	display: flex;
	justify-content: space-between;
}

.index {
	width: 40%;
	display: flex;
	justify-content: space-between;
}

.info {
	width: 40%;
	display: flex;
	justify-content: flex-end;
}

.info span{
	padding-left: 20px;
}

.header-sub {
	top: 0;
	position: fixed;
	margin-top: 50px;
	padding: 0px 30px;
	width: 100%;
	height: 40px;
	font-size: auto;
	display: flex;
	align-items: center;
	z-index: 100;
	background-color: #e6f3ff;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #000;

}

.headline {
	font-size: 100%;
}

.header-sub span {
	padding-right: 20px;
}

.header-sub .nav-tabs {
	align-self: flex-end;/*タブを下に揃える！ */
}

/*生徒一覧のタブ*/
.nav-tabs .nav-link {
	padding-top: 5px;
	padding-bottom: 5px;
	width: 120px;/* 固定幅にする */	
	text-align: center;
	background-color: #cce6ff;/* 通常時の背景色 */	
	border: 1px solid #000;/* 通常状態の枠線色 */	
	color: #000;/* 通常文字色 */	
}

/* アクティブなタブの背景色・枠線色 */
.nav-tabs .nav-link.active {
	background-color: aliceblue;/* アクティブ時の背景色 */	
	border-color: #000;/* アクティブ時の枠線色 */	
	border-bottom: 1px solid aliceblue;
	color: #000;/* アクティブ時の文字色 */
}

/* ホバー時に色を変える */
.nav-tabs .nav-link:hover {
	background-color: aliceblue;
	border-color: #000;
	color: #000;
}

main {
	margin-top: 90px;
	padding: 10px 30px;
	width: 100%;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: right;
	padding: 0px 30px;
	background-color: aliceblue;
}

textarea {
	width: 100%;
	height: 250px;
	overflow-y: scroll;
	resize: none;
}


.custom-tooltip .tooltip-inner {
	text-align: left;
}

.tooltip.show {
	opacity: 1;
}

/*上の見出しを固定したテーブル*/
.table-sticky {
	height: 70vh;
	overflow-y: auto;
}

.table-sticky table {
	table-layout: fixed;
}

.table-sticky thead th {
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: #cce6ff
}


/*成績のテーブル*/
.table-grade {
	overflow: auto;
	max-height: 430px;
	position: relative;
}

.table-grade th,
.table-grade td {
	border: 1px solid #dee2e6;
}

/* 上の2行 */
.table-grade thead tr:nth-child(1) th {
	position: sticky;
	top: 0;
	z-index: 20;
	background: #fff;
}

.table-grade thead tr:nth-child(2) th {
	position: sticky;
	top: 38px;/* 1行目の高さに合わせて調整 */	
	z-index: 10;
	background: #fff;
}

/* 左4列 */
.table-grade .sticky-col {
	position: sticky;
	z-index: 2;
}

.table-grade .sticky-col-1 {
	left: 0;
	z-index: 4;
}

.table-grade .sticky-col-2 {
	left: 30px;
	z-index: 4;
}

.table-grade .sticky-col-3 {
	left: 60px;
	z-index: 4;
}

.table-grade .sticky-col-4 {
	left: 90px;
	z-index: 4;
}

/*出席簿のテーブル*/
.table-attendance {
	overflow: auto;
	max-height: 430px;
	position: relative;
}

.table-attendance th,
.table-attendance td {
	border: 1px solid #dee2e6;
}

/* 上の2行 */
.table-attendance thead tr:nth-child(1) th {
	position: sticky;
	top: 0;
	z-index: 20;
	background: #fff;
}

.table-attendance thead tr:nth-child(2) th {
	position: sticky;
	top: 76px;/* 1行目の高さに合わせて調整 */	
	z-index: 10;
	background: #fff;
}

/* 左4列 */
.table-attendance .sticky-col {
	position: sticky;
	z-index: 2;
}

.table-attendance .sticky-col-1 {
	left: 0;
	z-index: 4;
}

.table-attendance .sticky-col-2 {
	left: 30px;
	z-index: 4;
}

.table-attendance .sticky-col-3 {
	left: 60px;
	z-index: 4;
}

.table-attendance .sticky-col-4 {
	left: 90px;
	z-index: 4;
}

/*縦書きテキスト*/
.vertical-text {
	writing-mode: vertical-rl;
	text-orientation: upright;
	white-space: nowrap;
}

/*縦書きテキスト*/
.vertical-text-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.vertical-text-kyouka {
	writing-mode: vertical-rl;
	text-orientation: upright;
}