<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">
		<header>
			<div th:each="student : ${students}">
				<table>
					<thead>
						<tr>
							<th>生徒番号</th>
							<th>姓</th>
							<th>名</th>
							<th>せい</th>
							<th>めい</th>
							<th>生年月日</th>
							<th>性別</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${student.studentId}"></td>
							<td th:text="${student.lastName}"></td>
							<td th:text="${student.firstName}"></td>
							<td th:text="${student.lastNameKana}"></td>
							<td th:text="${student.firstNameKana}"></td>
							<td th:text="${#dates.format(student.birth, 'yyyy-MM-dd')}"></td>
							<td th:text="${student.gender}"></td>
						</tr>
					</tbody>
				</table>
				<a th:href="@{/students/{id} (id=${student.studentId})}">生徒情報</a>
				<a th:href="@{/students/{id}/karte (id=${student.studentId})}">カルテ</a>
				<a th:href="@{/students/{id}/attendance (id=${student.studentId})}">出欠</a>
				<a th:href="@{/students/{id}/grade (id=${student.studentId})}">成績</a>
			</div>
		</header>

        <h2>出欠</h2>
		<form th:action="@{/students/attendance/add}" th:method="post" th:object="${students}">
			<div class="form-group">
				<input class="form-control" type="hidden" th:field="*{studentId}" />
			</div>
			<div class="form-group">
				<label class="control-label">日付</label>
				<input class="form-control" type="date" name="date" />
			</div>
			<div class="form-group">
				<label class="control-label">欠席</label>
				<select name="kesseki">
					<option value=""> </option>
					<option value="1">欠席</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">遅刻</label>
				<select name="chikoku">
					<option value=""> </option>
					<option value="1">遅刻</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">早退</label>
				<select name="soutai">
					<option value=""> </option>
					<option value="1">早退</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">出停</label>
				<select name="syuttei">
					<option value=""> </option>
					<option value="1">出停</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">忌引</label>
				<select name="kibiki">
					<option value=""> </option>
					<option value="1">忌引</option>
				</select>
			</div>
			<button class="btn btn-default" type="submit">登録</button>
		</form>


		<table>
			<thead>
				<tr>
					<th>日付</th>
					<th>欠席</th>
					<th>遅刻</th>
					<th>早退</th>
					<th>出停</th>
					<th>忌引</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="attendance : ${attendance}">
					<td th:text="${#dates.format(attendance.date, 'yyyy-MM-dd')}"></td>
					<td th:text="${attendance.kesseki}"></td>
					<td th:text="${attendance.chikoku}"></td>
					<td th:text="${attendance.soutai}"></td>
					<td th:text="${attendance.syuttei}"></td>
					<td th:text="${attendance.kibiki}"></td>
					<td><a th:href="@{/students/{id}/editAttendance(id=${attendance.attendanceId})}" class="edit">編集</a>
					</td>
			</tbody>
		</table>


		<!--<section id="attendance">
			<ul>
				<li th:each="attendance : ${attendance}">
					<article class="post">
						<ul>
							<li>
								<pre class="date" th:text="${attendance.date}"></pre>
							</li>
							<li>
								<pre class="chikoku" th:text="${attendance.chikoku}"></pre>
							</li>
							<li>
								<pre class="soutai" th:text="${attendance.soutai}"></pre>
							</li>
							<li>
								<pre class="kesseki" th:text="${attendance.kesseki}"></pre>
							</li>
							<li>
								<pre class="syuttei" th:text="${attendance.syuttei}"></pre>
							</li>
							<li>
								<pre class="kibiki" th:text="${attendance.kibiki}"></pre>
							</li>
							<li>
								<div class="buttons clearfix">
									<a th:href="@{/students/{id}/editAttendance(id=${attendance.attendanceId})}"
										class="edit">編集</a>
									<a th:href="@{/students/attendance/{id}/delete(id=${attendance.attendanceId})}"
										class="delete">削除</a>
								</div>
							</li>
						</ul>
					</article>
				</li>
			</ul>
		</section>-->

		<a href="/students">生徒一覧にもどる</a>
	</div>
</body>

</html>