<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>

	<div layout:fragment="students">

		<h2>生徒情報</h2>
		<div>
			<a class="buttons clearfix" th:href="@{/students/{id}/edit (id=${student.studentId})}">
				生徒編集
			</a>
		</div>
		<th:block th:if="${student.transferred == true}">転出済
		</th:block>

		<table border="1" style="border-collapse: collapse">
			<tr>
				<th colspan="3">生徒番号</th>
				<th colspan="8">名前</th>
				<th colspan="8">なまえ</th>
				<th colspan="4">生年月日</th>
				<th colspan="1">性別</th>
				　　　　　　　　　　　　　　　　<th colspan="8">保護者</th>
			</tr>
			<tr>
				<td colspan="3" th:text="${student.studentId}"></td>
				<td colspan="8" th:text="${student.lastName + ' ' + student.FirstName}"></td>
				<td colspan="8" th:text="${student.lastNameKana + ' ' + student.FirstNameKana}"></td>
				<td colspan="4" th:text="${#dates.format(student.birth, 'yyyy年M月d日')}"></td>
				<td colspan="1" 　th:text="${gender[__student.gender__]}"></td>
				<td colspan="8" th:text="${student.family1}"></td>
			</tr>
			<tr>
				<!--<th colspan="8">1年</th>
				<th colspan="8">2年</th>
				<th colspan="8">3年</th>-->

				<th:block th:each="studentYear : ${studentsYear}">

					<td colspan="8">
						<th:block th:if="${studentYear != null}">
							<div
								th:text="${studentYear?.year + '年度' + studentYear?.nen + '年' + studentYear?.kumi + '組' + studentYear?.ban + '番'}">
							</div>
						</th:block>
					</td>

				</th:block>

				<td colspan="8" th:text="${student.family2}"></td>
			</tr>
			<tr>
				<th:block th:each="studentYear : ${studentsYear}">

					<td colspan="8" rowspan="5">
						<th:block th:if="${studentYear != null}">
							<th:block th:if="${studentYear?.path != null}">
								<div th:text="${studentYear?.path}">写真を表示！</div>
							</th:block>
							<th:block th:if="${studentYear?.path == null}">
								写真未登録
							</th:block>
						</th:block>
					</td>
				</th:block>
				<th colspan="8">電話番号</th>
			</tr>
			<tr>
				<td colspan="8" th:text="${student.tel1}"></td>
			</tr>
			<tr>
				<td colspan="8" th:text="${student.tel2}"></td>
			</tr>
			<tr>
				<td colspan="8" th:text="${student.tel3}"></td>
			</tr>
			<tr>
				<td colspan="8" th:text="${student.tel4}"></td>
			</tr>
			<tr>
				<td>住所</td>
				<td colspan="31">
					<span th:text="${student.postalCode}" />
					<span th:text="${student.adress}" />
				</td>
			</tr>
			<tr>
				<td colspan="32" rowspan="3" th:text="${student.memo}"></td>
			</tr>
		</table>

		<!--<h2>登録クラス</h2>
		<table>
			<thead>
				<tr>
					<th>年度</th>
					<th>年</th>
					<th>組</th>
					<th>番</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="studentYear : ${studentsYear}">
					<td th:text="${studentYear.year}"></td>
					<td th:text="${studentYear.nen}"></td>
					<td th:text="${studentYear.kumi}"></td>
					<td th:text="${studentYear.ban}"></td>

				</tr>
			</tbody>
		</table>-->

		<!--<a href="/students">生徒一覧にもどる</a>
		<form th:action="@{/students/search}" th:method="get">
			<input type="hidden" name="year" th:value="${year}" />
			<input type="hidden" name="nen" th:value="${nen}" />
			<input type="hidden" name="kumi" th:value="${kumi}" />
			<button class="btn btn-default" type="submit">もどる</button>
		</form>-->
	</div>



</body>

</html>