<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="students">

		<h2>成績編集</h2>
		<span th:if="${year > 0}"><label th:text="${year}"></label>年度の出席簿編集</span>

		<div><a th:href="@{/students/{id}/grade (id=${student.studentId})}">キャンセル</a></div>
		<form th:action="@{/students/{id}/grade/update (id=${student.studentId})}" th:method="post">
			<button class="btn btn-default" onClick="return checkUpdate()" type="submit">更新</button>
			<table border="1" style="border-collapse: collapse">
				<thead>
					<tr>
						<th rowspan="2">年度</th>
						<th colspan="9" scope="colgroup">1学期</th>
						<th colspan="9" scope="colgroup">2学期</th>
						<th colspan="9" scope="colgroup">3学期</th>
					</tr>
					<tr>
						<th:block th:each="kyouka : ${kyouka}">
							<th th:text="${kyouka.value}"></th>
						</th:block>
						<th:block th:each="kyouka : ${kyouka}">
							<th th:text="${kyouka.value}"></th>
						</th:block>
						<th:block th:each="kyouka : ${kyouka}">
							<th th:text="${kyouka.value}"></th>
						</th:block>
					</tr>
				</thead>
				<tbody>
					<tr th:each="studentYear, stat : ${studentsYear}">
						<td th:text="${studentYear.year}"></td>
						<th:block th:each="grade, stat : ${grade[__${stat.index}__]}">
							<td>
								<th:block th:text="${grade?.rating}"></th:block>
								<th:block th:if="${studentYear.year == year}">
									<input class="form-control" type="hidden" name="gradeIds[]"
										th:value="${grade?.gradeId}" />
									<input class="form-control" type="hidden" name="studentIds[]"
										th:value="${student.studentId}" />
									<input class="form-control" type="hidden" name="years[]" th:value="${year}" />
									<input class="form-control" type="hidden" name="terms[]"
										th:value="${(stat.index + 9)/9}" />
									<input class="form-control" type="hidden" name="subjects[]"
										th:value="${(stat.index +((stat.index + 9)/9))%10}" />
									<select name="ratings[]" th:value="${grade?.rating}">
										<option value=""></option>
										<option value="1" th:selected="${grade?.rating == 1}">1
										</option>
										<option value="2" th:selected="${grade?.rating == 2}">2
										</option>
										<option value="3" th:selected="${grade?.rating == 3}">3
										</option>
										<option value="4" th:selected="${grade?.rating == 4}">4
										</option>
										<option value="5" th:selected="${grade?.rating == 5}">5
										</option>
									</select>
								</th:block>
							</td>
						</th:block>
					</tr>
				</tbody>
			</table>
		</form>

	</div>
</body>

</html>