<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="students">

		<h2>出席簿編集</h2>
		<span th:if="${year > 0}"><label th:text="${year}"></label>年度 </span>
		<span th:if="${month >= 0}"><label th:text="${month}+1"></label>月の出席簿編集</span>

		<div><a th:href="@{/students/{id}/attendance (id=${student.studentId})}">キャンセル</a></div>

		<div th:if="${schedule[0] == null}">スケジュールが登録されていません</div>

		<th:block th:if="${schedule[0] != null}">
			<form th:action="@{/students/{id}/attendance/update (id=${student.studentId})}" th:method="post">
				<button class="btn btn-default" onClick="return checkUpdate()" type="submit">更新</button>
				<table border="1" style="border-collapse: collapse">
					<thead>
						<tr>
							<th rowspan="2">年</th>
							<th rowspan="2">組</th>
							<th rowspan="2">番</th>
							<th rowspan="2">名前</th>
							<th:block th:each="schedule : ${schedule}">
								<th th:text="${#temporals.format(schedule.date, 'd')}">
								</th>
							</th:block>
							<th rowspan="2">登校日数</th>
							<th rowspan="2">出席数</th>
							<th rowspan="2">欠席数</th>
							<th rowspan="2">遅刻数</th>
							<th rowspan="2">早退数</th>
							<th rowspan="2">出停/忌引数</th>
						</tr>
						<tr>
							<th:block th:each="schedule : ${schedule}">
								<th th:text="${#temporals.format(schedule.date, 'E')}"></th>
							</th:block>
						</tr>
					</thead>
					<tbody>
						<tr th:each="studentYear : ${studentsYear}">
							<th:block th:if="${studentYear.year == year}">
								<td th:text="${studentYear.nen}"></td>
								<td th:text="${studentYear.kumi}"></td>
								<td th:text="${studentYear.ban}"></td>
								<div th:each="student : ${studentYear.students}">
									<td>
										<th:block th:text="${student.lastName} + ' ' + ${student.firstName}"></th:block>
									</td>
								</div>
								<th:block th:each="attendance, stat : ${attendance}">
									<td>
										<th:block th:each="schedule : ${schedule[__${stat.index}__]}">
											<th:block th:if="${attendance?.kiroku==1}">／</th:block>
											<th:block th:if="${attendance?.kiroku==2}">×</th:block>
											<th:block th:if="${attendance?.kiroku==3}">○</th:block>
											<th:block th:if="${attendance?.kiroku==4}">○×</th:block>
											<th:block th:if="${attendance?.kiroku==5}">テ</th:block>
											<th:block th:if="${attendance?.kiroku==6}">キ</th:block>
											<th:block th:if="${schedule.holiday == false}">
												<input class="form-control" type="hidden" name="attendanceIds[]"
													th:value="${attendance?.attendanceId}" />
												<input class="form-control" type="hidden" name="studentIds[]"
													th:value="${studentYear.studentId}" />
												<input class="form-control" type="hidden" name="dates[]"
													th:value="${#temporals.format(schedule.date, 'yyyy-MM-dd')}" />
												<select name="kirokus[]" th:value="${attendance?.kiroku}" selected="6">
													<option value=""></option>
													<option value="1" th:selected="${attendance?.kiroku == 1}">／ : 欠席
													</option>
													<option value="2" th:selected="${attendance?.kiroku == 2}">×　: 遅刻
													</option>
													<option value="3" th:selected="${attendance?.kiroku == 3}">○　: 早退
													</option>
													<option value="4" th:selected="${attendance?.kiroku == 4}">×○ :
														遅刻/早退
													</option>
													<option value="5" th:selected="${attendance?.kiroku == 5}">テ : 出停
													</option>
													<option value="6" th:selected="${attendance?.kiroku == 6}">キ : 忌引
													</option>
												</select>
											</th:block>
										</th:block>
									</td>
								</th:block>
								<th:block th:each="attendanceSummary : ${attendanceSummary}">
									<td>
										<th:block th:text="${attendanceSummary}"></th:block>
									</td>
								</th:block>
							</th:block>
						</tr>
					</tbody>
				</table>
			</form>
		</th:block>

	</div>
</body>

</html>