<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="students">

		<h2>生徒編集</h2>

		<form th:action="@{/students/{id}/update (id=${student.studentId})}" th:method="post" th:object="${student}">
			<div class="form-group">
				<input class="form-control" type="hidden" th:field="*{lastName}" />
				<input class="form-control" type="hidden" th:field="*{firstName}" />
				<input class="form-control" type="hidden" th:field="*{lastNameKana}" />
				<input class="form-control" type="hidden" th:field="*{firstNameKana}" />
				<input class="form-control" type="hidden" th:field="*{birth}" />
				<input class="form-control" type="hidden" th:field="*{gender}" />
				<input class="form-control" type="hidden" th:field="*{transferred}" />
			</div>

			<div class="form-group">
				<label class="control-label">保護者1</label>
				<input class="form-control" type="text" th:field="*{family1}" />
			</div>
			<div class="form-group">
				<label class="control-label">保護者2</label>
				<input class="form-control" type="text" th:field="*{family2}" />
			</div>
			<div th:object="${studentForm}">
				<div class="text-danger" th:if="${#fields.hasErrors('family1')}" th:errors="*{family1}"></div>
				<div class="text-danger" th:unless="${#fields.hasErrors('family1')}">
					<div class="text-danger" th:if="${#fields.hasErrors('family2')}" th:errors="*{family2}"></div>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label">電話1</label>
				<input class="form-control" type="tel" th:field="*{tel1}" />
			</div>
			<div class="form-group">
				<label class="control-label">電話2</label>
				<input class="form-control" type="tel" th:field="*{tel2}" />
			</div>
			<div class="form-group">
				<label class="control-label">電話3</label>
				<input class="form-control" type="tel" th:field="*{tel3}" />
			</div>
			<div class="form-group">
				<label class="control-label">電話4</label>
				<input class="form-control" type="tel" th:field="*{tel4}" />
			</div>
			<div th:object="${studentForm}">
				<div class="text-danger" th:if="${#fields.hasErrors('tel1')}" th:errors="*{tel1}"></div>
				<div class="text-danger" th:unless="${#fields.hasErrors('tel1')}">
					<div class="text-danger" th:if="${#fields.hasErrors('tel2')}" th:errors="*{tel2}"></div>
					<div class="text-danger" th:unless="${#fields.hasErrors('tel2')}">
						<div class="text-danger" th:if="${#fields.hasErrors('tel3')}" th:errors="*{tel3}"></div>
						<div class="text-danger" th:unless="${#fields.hasErrors('tel3')}">
							<div class="text-danger" th:if="${#fields.hasErrors('tel4')}" th:errors="*{tel4}"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label">郵便番号</label>
				<input class="form-control" type="text" th:field="*{postalCode}" />
			</div>
			<div class="form-group">
				<label class="control-label">住所</label>
				<input class="form-control" type="textarea" name="adress" th:value="*{adress}" />
			</div>
			<div th:object="${studentForm}">
				<span class="text-danger" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></span>
				<span class="text-danger" th:if="${#fields.hasErrors('adress')}" th:errors="*{adress}"></span>
			</div>

			<div class="form-group">
				<label class="control-label">メモ</label>
				<input class="form-control" type="textarea" name="memo" th:value="*{memo}" />
			</div>
			<div th:object="${studentForm}">
				<span class="text-danger" th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}"></span>
			</div>

			<button class="btn btn-default" type="submit">更新</button>
		</form>

		<a th:href="@{/students/{id} (id=${student.studentId})}">キャンセル</a>



	</div>
</body>

</html>