<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">
		<header>
			<div th:each="student : ${students}">
				<table>
					<thead>
						<tr>
							<th>生徒番号</th>
							<th>姓</th>
							<th>名</th>
							<th>せい</th>
							<th>めい</th>
							<th>生年月日</th>
							<th>性別</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${student.studentId}"></td>
							<td th:text="${student.lastName}"></td>
							<td th:text="${student.firstName}"></td>
							<td th:text="${student.lastNameKana}"></td>
							<td th:text="${student.firstNameKana}"></td>
							<td th:text="${#dates.format(student.birth, 'yyyy-MM-dd')}"></td>
							<td th:text="${student.gender}"></td>
						</tr>
					</tbody>
				</table>
				<a th:href="@{/students/{id} (id=${student.studentId})}">生徒情報</a>
				<a th:href="@{/students/{id}/karte (id=${student.studentId})}">カルテ</a>
				<a th:href="@{/students/{id}/attendance (id=${student.studentId})}">出欠</a>
				<a th:href="@{/students/{id}/grade (id=${student.studentId})}">成績</a>
			</div>
		</header>

		<h1>出欠編集</h1>
		<div th:if="${year > 0}"><label th:text="${year}"></label>年度</div>
		<div th:if="${month >= 0}"><label th:text="${month}+1"></label>月の編集</div>
		<th:block th:text="${#dates.format(cal, 'yyyy-MM')}"></th:block>

		<th:block th:if="${size > 0}">
			<h1>編集完成版！！（改良）</h1>
			<form th:action="@{/students/{id}/attendance/update (id=${students.studentId})}" th:method="post">
				<!--<input type="hidden" name="year" th:value="${year}" />
			<input type="hidden" name="month" value="${month}" />-->
				<table border="1" style="border-collapse: collapse">
					<thead>
						<tr>
							<th rowspan="2">年</th>
							<th rowspan="2">組</th>
							<th rowspan="2">番</th>
							<th rowspan="2">名前</th>
							<th:block th:each="schedule : ${schedule}">
								<th th:text="${#dates.format(schedule.date, 'd')}">
								</th>
							</th:block>
							<th rowspan="2">登校日数</th>
							<th rowspan="2">出席数</th>
							<th rowspan="2">欠席数</th>
							<th rowspan="2">遅刻数</th>
							<th rowspan="2">早退数</th>
							<th rowspan="2">出停/忌引数</th>
						</tr>
						<tr>
							<th:block th:each="schedule : ${schedule}">
								<th th:text="${#dates.format(schedule.date, 'E')}"></th>
							</th:block>
						</tr>
					</thead>
					<tbody>
						<tr th:each="studentYear : ${studentsYear}">
							<th:block th:if="${studentYear.year == year}">
								<td th:text="${studentYear.nen}"></td>
								<td th:text="${studentYear.kumi}"></td>
								<td th:text="${studentYear.ban}"></td>
								<div th:each="student : ${studentYear.students}">
									<td>
										<th:block th:text="${student.lastName} + ' ' + ${student.firstName}"></th:block>
										<button class="btn btn-default" type="submit">更新</button>
									</td>
								</div>
								<th:block th:each="attendance, stat : ${attendance}">
									<td>
										<th:block th:if="${attendance?.kiroku==1}">／</th:block>
										<th:block th:if="${attendance?.kiroku==2}">×</th:block>
										<th:block th:if="${attendance?.kiroku==3}">○</th:block>
										<th:block th:if="${attendance?.kiroku==4}">○×</th:block>
										<th:block th:if="${attendance?.kiroku==5}">テ</th:block>
										<th:block th:if="${attendance?.kiroku==6}">キ</th:block>
										<input class="form-control" type="hidden" name="attendanceIds[]"
											th:value="${attendance?.attendanceId}" />
										<input class="form-control" type="hidden" name="studentIds[]"
											th:value="${studentYear.studentId}" />
										<th:block th:each="schedule : ${schedule[__${stat.index}__]}">
											<input class="form-control" type="hidden" name="dates[]"
												th:value="${#dates.format(schedule.date, 'yyyy-MM-dd')}" />
										</th:block>
										<select name="kirokus[]" th:value="${attendance?.kiroku}" selected="6">
											<option value=""></option>
											<option value="1" th:selected="${attendance?.kiroku == 1}">／ : 欠席</option>
											<option value="2" th:selected="${attendance?.kiroku == 2}">×　: 遅刻</option>
											<option value="3" th:selected="${attendance?.kiroku == 3}">○　: 早退</option>
											<option value="4" th:selected="${attendance?.kiroku == 4}">×○ : 遅刻/早退
											</option>
											<option value="5" th:selected="${attendance?.kiroku == 5}">テ : 出停</option>
											<option value="6" th:selected="${attendance?.kiroku == 6}">キ : 忌引</option>
										</select>
									</td>
								</th:block>
								<th:block th:each="attendanceSummary : ${attendanceSummary}">
									<td>
										<th:block th:text="${attendanceSummary}"></th:block>
									</td>
								</th:block>
							</th:block>
						</tr>
					</tbody>
				</table>
			</form>
		</th:block>

		<!--<h1>編集完成版！！</h1>
		<form th:action="@{/students/{id}/attendance/update (id=${students.studentId})}" th:method="post">
			
			<table border="1" style="border-collapse: collapse">
				<thead>
					<tr>
						<th rowspan="2">年</th>
						<th rowspan="2">組</th>
						<th rowspan="2">番</th>
						<th rowspan="2">名前</th>
						<th:block th:each="calendar : ${calendar}">
							<th th:text="${#dates.format(calendar, 'd')}">
							</th>
						</th:block>
						<th rowspan="2">登校日数</th>
						<th rowspan="2">出席数</th>
						<th rowspan="2">欠席数</th>
						<th rowspan="2">遅刻数</th>
						<th rowspan="2">早退数</th>
						<th rowspan="2">出停/忌引数</th>
					</tr>
					<tr>
						<th:block th:each="calendar : ${calendar}">
							<th th:text="${#dates.format(calendar, 'E')}"></th>
						</th:block>
					</tr>
				</thead>
				<tbody>
					<tr th:each="studentYear : ${studentsYear}">
						<th:block th:if="${studentYear.year == year}">
							<td th:text="${studentYear.nen}"></td>
							<td th:text="${studentYear.kumi}"></td>
							<td th:text="${studentYear.ban}"></td>
							<div th:each="student : ${studentYear.students}">
								<td>
									<th:block th:text="${student.lastName} + ' ' + ${student.firstName}"></th:block>
									<button class="btn btn-default" type="submit">更新</button>
								</td>
							</div>
							<th:block th:each="attendance, stat : ${attendance}">
								<td>
									<th:block th:if="${attendance?.kiroku==1}">／</th:block>
									<th:block th:if="${attendance?.kiroku==2}">×</th:block>
									<th:block th:if="${attendance?.kiroku==3}">○</th:block>
									<th:block th:if="${attendance?.kiroku==4}">○×</th:block>
									<th:block th:if="${attendance?.kiroku==5}">テ</th:block>
									<th:block th:if="${attendance?.kiroku==6}">キ</th:block>
									<input class="form-control" type="hidden" name="attendanceIds[]"
										th:value="${attendance?.attendanceId}" />
									<input class="form-control" type="hidden" name="studentIds[]"
										th:value="${studentYear.studentId}" />
									<th:block th:each="calendar : ${calendar[__${stat.index}__]}">
										<input class="form-control" type="hidden" name="dates[]"
											th:value="${#dates.format(calendar, 'yyyy-MM-dd')}" />
									</th:block>
									<select name="kirokus[]" th:value="${attendance?.kiroku}" selected="6">
										<option value=""></option>
										<option value="1" th:selected="${attendance?.kiroku == 1}">／ : 欠席</option>
										<option value="2" th:selected="${attendance?.kiroku == 2}">×　: 遅刻</option>
										<option value="3" th:selected="${attendance?.kiroku == 3}">○　: 早退</option>
										<option value="4" th:selected="${attendance?.kiroku == 4}">×○ : 遅刻/早退
										</option>
										<option value="5" th:selected="${attendance?.kiroku == 5}">テ : 出停</option>
										<option value="6" th:selected="${attendance?.kiroku == 6}">キ : 忌引</option>
									</select>
								</td>
							</th:block>
							<th:block th:each="attendanceSummary : ${attendanceSummary}">
								<td>
									<th:block th:text="${attendanceSummary}"></th:block>
								</td>
							</th:block>
						</th:block>
					</tr>
				</tbody>
			</table>
		</form>-->





	</div>
</body>

</html>