<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">

		<div class="header-sub">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/students/{id} (id=${student.studentId})}">生徒情報</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/students/{id}/karte (id=${student.studentId})}">カルテ</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" th:href="@{/students/{id}/attendance (id=${student.studentId})}">出席簿</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/students/{id}/grade (id=${student.studentId})}">成績</a>
				</li>
			</ul>
			<span></span>
			<th:block th:if="${student.transferred == false}">
				<span style="font-weight: bold; padding: 2px 4px;"
					th:text="${student.studentId + ' ' + student.lastName + student.firstName}"></span>
			</th:block>
			<th:block th:if="${student.transferred == true}">
				<span style="background-color: #fff3cd; font-weight: bold; padding: 2px 4px;"
					th:text="${student.studentId + ' ' + student.lastName + student.firstName}"></span>
			</th:block>
			<span></span>
			<span class="headline">生徒 > 出席簿 > 編集</span>
			<span><a class="btn btn-secondary btn-sm"
					th:href="@{/students/{id}/attendance (id=${student.studentId})}">キャンセル</a></span>
			<span>
				<button class="btn btn-success  py-1 px-2" onClick="return checkUpdate()" type="submit"
					form="update">更新</button>
			</span>
		</div>

		<main>
			<div class="mb-3">
				<span th:if="${year > 0}"><label th:text="${year}"></label>年度 </span>
				<span th:if="${month >= 0}"><label th:text="${month}+1"></label>月の出席簿</span>
				<th:block th:each="studentYear : ${studentsYear}">
					<th:block th:if="${studentYear.year == year}">
						<span th:text="${studentYear.nen + '年'}"></span>
						<span th:text="${studentYear.kumi + '組'}"></span>
						<span th:text="${studentYear.ban + '番'}"></span>
					</th:block>
				</th:block>
				<span th:text="${student.lastName + student.firstName}"></span>
				<span>&emsp;&emsp;／ :欠席&emsp;× :遅刻&emsp;○ :早退&emsp;● :遅刻/早退&emsp;テ :出停&emsp;キ :忌引</span>
			</div>

			<div th:if="${schedule[0] == null}">スケジュールが登録されていません</div>

			<th:block th:if="${schedule[0] != null}">
				<form id="update" th:action="@{/students/{id}/attendance/update (id=${student.studentId})}"
					th:method="post">
					<!--<button class="btn btn-default" onClick="return checkUpdate()" type="submit">更新</button>-->
					<table class="table table-striped table-sm table-bordered" style="text-align:center;">
						<thead>
							<tr>
								<!--<th rowspan="2">年</th>
								<th rowspan="2">組</th>
								<th rowspan="2">番</th>
								<th rowspan="2">名前</th>-->
								<th:block th:each="schedule : ${schedule}">
									<th:block th:if="${schedule.holiday == false}">
										<th th:text="${#temporals.format(schedule.date, 'd')}">
										</th>
									</th:block>
									<th:block th:if="${schedule.holiday == true}">
										<th style="background-color: #f8d7da;"
											th:text="${#temporals.format(schedule.date, 'd')}">
										</th>
									</th:block>
								</th:block>

								<!--<th rowspan="2">登校日数</th>
								<th rowspan="2">出席数</th>
								<th rowspan="2">欠席数</th>
								<th rowspan="2">遅刻数</th>
								<th rowspan="2">早退数</th>
								<th rowspan="2">出停/忌引数</th>-->
							</tr>
							<tr>
								<th:block th:each="schedule : ${schedule}">
									<th:block th:if="${schedule.holiday == false}">
										<th th:text="${#temporals.format(schedule.date, 'E')}">
										</th>
									</th:block>
									<th:block th:if="${schedule.holiday == true}">
										<th style="background-color: #f8d7da;"
											th:text="${#temporals.format(schedule.date, 'E')}">
										</th>
									</th:block>
								</th:block>
							</tr>
						</thead>
						<tbody>
							<tr th:each="studentYear : ${studentsYear}">
								<th:block th:if="${studentYear.year == year}">
									<!--<td th:text="${studentYear.nen}"></td>
									<td th:text="${studentYear.kumi}"></td>
									<td th:text="${studentYear.ban}"></td>
									<div th:each="student : ${studentYear.students}">
										<td>
											<th:block th:text="${student.lastName} + ' ' + ${student.firstName}">
											</th:block>
										</td>
									</div>-->
									<th:block th:each="attendance, stat : ${attendance}">
										<td>
											<th:block th:each="schedule : ${schedule[__${stat.index}__]}">


												<!--<th:block th:if="${attendance?.kiroku==1}">／</th:block>
													<th:block th:if="${attendance?.kiroku==2}">×</th:block>
													<th:block th:if="${attendance?.kiroku==3}">○</th:block>
													<th:block th:if="${attendance?.kiroku==4}">●</th:block>
													<th:block th:if="${attendance?.kiroku==5}">テ</th:block>
													<th:block th:if="${attendance?.kiroku==6}">キ</th:block>-->


												<th:block th:if="${schedule.holiday == false}">
													<input class="form-control" type="hidden" name="attendanceIds[]"
														th:value="${attendance?.attendanceId}" />
													<input class="form-control" type="hidden" name="studentIds[]"
														th:value="${studentYear.studentId}" />
													<input class="form-control" type="hidden" name="dates[]"
														th:value="${#temporals.format(schedule.date, 'yyyy-MM-dd')}" />
													<select name="kirokus[]" th:value="${attendance?.kiroku}">
														<option value=""></option>
														<option value="1" th:selected="${attendance?.kiroku == 1}">／
														</option>
														<option value="2" th:selected="${attendance?.kiroku == 2}">×
														</option>
														<option value="3" th:selected="${attendance?.kiroku == 3}">○
														</option>
														<option value="4" th:selected="${attendance?.kiroku == 4}">●
														</option>
														<option value="5" th:selected="${attendance?.kiroku == 5}">テ
														</option>
														<option value="6" th:selected="${attendance?.kiroku == 6}">キ
														</option>
													</select>
												</th:block>
											</th:block>
										</td>
									</th:block>
									<!--<th:block th:each="attendanceSummary : ${attendanceSummary}">
										<td>
											<th:block th:text="${attendanceSummary}"></th:block>
										</td>
									</th:block>-->
								</th:block>
							</tr>
						</tbody>
					</table>
				</form>
			</th:block>

		</main>
	</div>
</body>

</html>