<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="students">

		<h2>カルテ編集</h2>
		<div th:each="karte : ${karte}">
			<form th:action="@{/students/{id}/karte/update (id=${karte.karteId})}" th:method="post"
				th:object="${karte}">
				<input class="form-control" type="hidden" th:field="*{studentId}" />
				<div class="form-group">
					<label class="control-label">日付</label>
					<input class="form-control" type="date" th:field="*{date}" />
					<div th:object="${karteForm}">
						<span class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">内容</label>
					<input class="form-control" type="text" th:field="*{contents}" />
					<div th:object="${karteForm}">
						<span class="text-danger" th:if="${#fields.hasErrors('contents')}"
							th:errors="*{contents}"></span>
					</div>
				</div>
				<button class="btn btn-default" type="submit">更新</button>
			</form>
			<div><a th:href="@{/students/{id}/karte (id=${karte.studentId})}">キャンセル</a></div>

			<div><a th:href="@{/students/{id}/karte/delete (id=${karte.karteId})}">
					削除
				</a></div>
		</div>

		<table border="1" style="border-collapse: collapse">
			<thead>
				<tr>
					<th>日付</th>
					<th>内容</th>
					<th>更新者</th>
					<th>更新日時</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${#dates.format(karte.date, 'yyyy/M/d')}"></td>
					<td th:text="${karte.contents}"></td>
					<td th:text="${updateUser[__karte.updatedBy__]}"></td>
					<td th:text="${#dates.format(karte.updatedAt, 'yyyy-M-d HH:mm:ss')}"></td>
				</tr>
			</tbody>
		</table> 　　　　　　　　


	</div>
</body>

</html>