<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">
		<header>
			<div th:each="student : ${students}">
				<table>
					<thead>
						<tr>
							<th>生徒番号</th>
							<th>姓</th>
							<th>名</th>
							<th>せい</th>
							<th>めい</th>
							<th>生年月日</th>
							<th>性別</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${student.studentId}"></td>
							<td th:text="${student.lastName}"></td>
							<td th:text="${student.firstName}"></td>
							<td th:text="${student.lastNameKana}"></td>
							<td th:text="${student.firstNameKana}"></td>
							<td th:text="${#dates.format(student.birth, 'yyyy-MM-dd')}"></td>
							<td th:text="${student.gender}"></td>
						</tr>
					</tbody>
				</table>
				<a th:href="@{/students/{id} (id=${student.studentId})}">生徒情報</a>
				<a th:href="@{/students/{id}/karte (id=${student.studentId})}">カルテ</a>
				<a th:href="@{/students/{id}/attendance (id=${student.studentId})}">出欠</a>
				<a th:href="@{/students/{id}/grade (id=${student.studentId})}">成績</a>
			</div>
		</header>

		<h2>出欠編集</h2>
		<div th:each="attendance : ${attendance}">
			<form th:action="@{/students/{id}/updateAttendance (id=${attendance.attendanceId})}" th:method="post"
				th:object="${attendance}">
				<div class="form-group">
					<label class="control-label">日付</label>
					<input class="form-control" type="date" th:field="*{date}" />
				</div>
				<div class="form-group">
					<label class="control-label">出欠</label>
					<select th:field="*{kiroku}">
						<option value=""></option>
						<option value="1">／ : 欠席</option>
						<option value="2">×　: 遅刻</option>
						<option value="3">○　: 早退</option>
						<option value="4">×○ : 遅刻/早退</option>
						<option value="5">テ : 出停</option>
						<option value="6">キ : 忌引</option>
					</select>
				</div>

				<button class="btn btn-default" type="submit">更新</button>
			</form>

			<td><a class="buttons clearfix"
					th:href="@{/students/{id}/deleteAttendance (id=${attendance.attendanceId})}">
					削除
				</a></td>
		</div>

		<table>
			<thead>
				<tr>
					<th>日付</th>
					<th>欠席</th>
					<th>遅刻</th>
					<th>早退</th>
					<th>出停</th>
					<th>忌引</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="attendance : ${attendance}">
					<td th:text="${#dates.format(attendance.date, 'yyyy-MM-dd')}"></td>
					<td th:text="${attendance.kiroku}"></td>
			</tbody>
		</table>
		<a th:href="@{/students/{id}/attendance (id=${attendance.studentId})}">キャンセル</a>
		<a href="/students">生徒一覧にもどる</a>
	</div>
</body>

</html>