<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">
		<header>
			<div th:each="student : ${students}">
				<table>
					<thead>
						<tr>
							<th>生徒番号</th>
							<th>姓</th>
							<th>名</th>
							<th>せい</th>
							<th>めい</th>
							<th>生年月日</th>
							<th>性別</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${student.studentId}"></td>
							<td th:text="${student.lastName}"></td>
							<td th:text="${student.firstName}"></td>
							<td th:text="${student.lastNameKana}"></td>
							<td th:text="${student.firstNameKana}"></td>
							<td th:text="${#dates.format(student.birth, 'yyyy-MM-dd')}"></td>
							<td th:text="${student.gender}"></td>
						</tr>
					</tbody>
				</table>
				<a th:href="@{/students/{id} (id=${student.studentId})}">生徒情報</a>
				<a th:href="@{/students/{id}/karte (id=${student.studentId})}">カルテ</a>
				<a th:href="@{/students/{id}/attendance (id=${student.studentId})}">出欠</a>
				<a th:href="@{/students/{id}/grade (id=${student.studentId})}">成績</a>
			</div>
		</header>

		<h2>成績</h2>

		　　　　　　　　<p>個別登録</p>
		<form th:action="@{/students/grade/add}" th:method="post" th:object="${students}">
			<div class="form-group">
				<input class="form-control" type="hidden" th:field="*{studentId}" />
			</div>
			<div class="form-group">
				<label class="control-label">年度</label>
				<select name="year">
					<option th:each="studentYear : ${studentsYear}" th:value="${studentYear?.year}"
						th:text="${studentYear?.year}"></option>
					<!--<option value="2024">2024</option>
					<option value="2025">2025</option>
					<option value="2026">2026</option>
					<option value="2027">2027</option>
					<option value="2028">2028</option>
					<option value="2029">2029</option>
					<option value="2030">2030</option>-->
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">学期</label>
				<select name="term">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">教科</label>
				<select name="subject">
					<option value="1">国語</option>
					<option value="2">社会</option>
					<option value="3">数学</option>
					<option value="4">理科</option>
					<option value="5">音楽</option>
					<option value="6">美術</option>
					<option value="7">保健体育</option>
					<option value="8">技術家庭</option>
					<option value="9">英語</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">評定</label>
				<select name="rating">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5" selected>5</option>
				</select>
			</div>
			<!--<div class="form-group">
				<label class="control-label">評定</label>
				<input class="form-control" type="number" name="grade" />
			</div>-->
			<button class="btn btn-default" type="submit">登録</button>
		</form>
		<br>
		
		

		<p>一括登録（途中）</p>
		<form th:action="@{/students/grade/add}" th:method="post" th:object="${students}">
			<div class="form-group">
				<input class="form-control" type="hidden" th:field="*{studentId}" />
			</div>
			<div class="form-group">
				<label class="control-label">年度</label>
				<select name="year[]">
					<option th:each="studentYear : ${studentsYear}" th:value="${studentYear?.year}"
						th:text="${studentYear?.year}"></option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">学期</label>
				<select name="term[]">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">教科</label>
				<select name="subject">
					<option value="1">国語</option>
					<option value="2">社会</option>
					<option value="3">数学</option>
					<option value="4">理科</option>
					<option value="5">音楽</option>
					<option value="6">美術</option>
					<option value="7">保健体育</option>
					<option value="8">技術家庭</option>
					<option value="9">英語</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">評定</label>
				<select name="rating">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5" selected>5</option>
				</select>
			</div>
			<!--<div class="form-group">
				<label class="control-label">評定</label>
				<input class="form-control" type="number" name="grade" />
			</div>-->
			<button class="btn btn-default" type="submit">登録</button>
		</form>
		<br>

		




		<h1>成績一覧（旧）</h1>
		<table border="1" style="border-collapse: collapse">
			<thead>
				<tr>
					<th rowspan="2">年度</th>
					<th colspan="9" scope="colgroup">1学期</th>
					<th colspan="9" scope="colgroup">２学期</th>
					<th colspan="9" scope="colgroup">３学期</th>
				</tr>
				<tr>
					<th>国語</th>
					<th>社会</th>
					<th>数学</th>
					<th>理科</th>
					<th>音楽</th>
					<th>美術</th>
					<th>保健体育</th>
					<th>技術家庭</th>
					<th>英語</th>
					<th>国語</th>
					<th>社会</th>
					<th>数学</th>
					<th>理科</th>
					<th>音楽</th>
					<th>美術</th>
					<th>保健体育</th>
					<th>技術家庭</th>
					<th>英語</th>
					<th>国語</th>
					<th>社会</th>
					<th>数学</th>
					<th>理科</th>
					<th>音楽</th>
					<th>美術</th>
					<th>保健体育</th>
					<th>技術家庭</th>
					<th>英語</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="studentYear : ${studentsYear}">
					<td th:text="${studentYear.year}"></td>
				
					<div th:each="student : ${studentYear.students}">

						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 1}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 1 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 2}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 2 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 3}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 3 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 4}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 4 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 5}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 5 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 6}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 6 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 7}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 7 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 8}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 8 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 9}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 9 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 1}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 1 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 2}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 2 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 3}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 3 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 4}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 4 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 5}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 5 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 6}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 6 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 7}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 7 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 8}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 8 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 9}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 9 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 1}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 1 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 2}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 2 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 3}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 3 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 4}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 4 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 5}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 5 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 6}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 6 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 7}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 7 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 8}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 8 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
						<td>
							<th:block th:each="grade : ${student.grade}">
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 9}"
									th:text="${grade.rating}">
								</a>
								<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
									th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 9 and grade.rating == null}"
									th:text="＿">
								</a>
							</th:block>
						</td>
					</div>
				</tr>
			</tbody>
		</table>


		<br>
		<br>
		<form th:action="@{/students/grade/add}" th:method="post" th:object="${students}">
			<button class="btn btn-default" type="submit">一括登録</button>
			<table border="1" style="border-collapse: collapse">
				<thead>
					<tr>
						<th rowspan="2">年度</th>
						<th colspan="9" scope="colgroup">1学期</th>
						<th colspan="9" scope="colgroup">２学期</th>
						<th colspan="9" scope="colgroup">３学期</th>
					</tr>
					<tr>
						<th>国語</th>
						<th>社会</th>
						<th>数学</th>
						<th>理科</th>
						<th>音楽</th>
						<th>美術</th>
						<th>保健体育</th>
						<th>技術家庭</th>
						<th>英語</th>
						<th>国語</th>
						<th>社会</th>
						<th>数学</th>
						<th>理科</th>
						<th>音楽</th>
						<th>美術</th>
						<th>保健体育</th>
						<th>技術家庭</th>
						<th>英語</th>
						<th>国語</th>
						<th>社会</th>
						<th>数学</th>
						<th>理科</th>
						<th>音楽</th>
						<th>美術</th>
						<th>保健体育</th>
						<th>技術家庭</th>
						<th>英語</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="studentYear : ${studentsYear}">
						<td th:text="${studentYear.year}"></td>

						<div th:each="student : ${studentYear.students}">

							<td>
								<div class="form-group">
									<!--<input class="form-control" type="hidden" th:field="*{studentId}" />
									<input class="form-control" type="hidden" name="year" th:value="${studentYear.year}" />
									<input class="form-control" type="hidden" name="term" th:value="1" />
									<input class="form-control" type="hidden" name="subject" th:value="1" />-->
									<input class="form-control" type="text" th:field="*{studentId}" />
									<input class="form-control" type="text" name="year"
										th:value="${studentYear.year}" />
									<input class="form-control" type="text" name="term" th:value="1" />
									<input class="form-control" type="text" name="subject" th:value="1" />
								</div>
								<div class="form-group">
									<select name="rating">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5" selected>5</option>
									</select>
								</div>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 2}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 2 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 3}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 3 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 4}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 4 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 5}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 5 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 6}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 6 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 7}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 7 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 8}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 8 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 9}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 1 and grade.subject == 9 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 1}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 1 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 2}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 2 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 3}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 3 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 4}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 4 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 5}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 5 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 6}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 6 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 7}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 7 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 8}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 8 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 9}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 2 and grade.subject == 9 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 1}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 1 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 2}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 2 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 3}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 3 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 4}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 4 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 5}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 5 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 6}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 6 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 7}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 7 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 8}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 8 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
							<td>
								<th:block th:each="grade : ${student.grade}">
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 9}"
										th:text="${grade.rating}">
									</a>
									<a th:href="@{/students/{id}/editGrade (id=${grade.gradeId})}"
										th:if="${grade.year == studentYear.year and grade.term == 3 and grade.subject == 9 and grade.rating == null}"
										th:text="＿">
									</a>
								</th:block>
							</td>
						</div>
					</tr>
				</tbody>
			</table>
		</form>

		<br>
		<br>

		<table border="1" style="border-collapse: collapse">
			<thead>
				<tr>
					<th rowspan="2">年度</th>
					<th colspan="9" scope="colgroup">1学期</th>
				</tr>
				<tr>
					<th>国語</th>
					<th>社会</th>
					<th>数学</th>
					<th>理科</th>
					<th>音楽</th>
					<th>美術</th>
					<th>保健体育</th>
					<th>技術家庭</th>
					<th>英語</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="studentYear : ${studentsYear}">
					<td th:text="${studentYear.year}"></td>

					<div th:each="student : ${studentYear.students}">

						<td>
							<form th:action="@{/students/grade/add}" th:method="post" th:object="${students}">
								<button class="btn btn-default" type="submit">一括登録</button>
								<div class="form-group">
									<input class="form-control" type="hidden" th:field="*{studentId}" />
									<input class="form-control" type="hidden" name="year"
										th:value="${studentYear.year}" />
									<input class="form-control" type="hidden" name="term" th:value="1" />
									<input class="form-control" type="hidden" name="subject" th:value="1" />
								</div>
								<div class="form-group">
									<select name="rating">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5" selected>5</option>
									</select>
								</div>
							</form>
						</td>
					</div>
				</tr>
			</tbody>
		</table>





		<!--<table>
			<thead>
				<tr>
					<th>年度</th>
					<th>学期</th>
					<th>教科</th>
					<th>評定</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="grade : ${grade}">
					<td th:text="${grade.year}"></td>
					<td th:text="${grade.term}"></td>
					<td th:text="${grade.subject}"></td>
					<td th:text="${grade.rating}"></td>
					<td><a th:href="@{/students/{id}/editGrade(id=${grade.gradeId})}" class="edit">編集</a>
					</td>
			</tbody>
		</table>-->


		<!--<section id="grade">
			<ul>
				<li th:each="grade : ${grade}">
					<article class="post">
						<ul>
							<li>
								<pre class="year" th:text="${grade.year}"></pre>
							</li>
							<li>
								<pre class="term" th:text="${grade.term}"></pre>
							</li>
							<li>
								<pre class="subject" th:text="${grade.subject}"></pre>
							</li>
							<li>
								<pre class="grade" th:text="${grade.rating}"></pre>
							</li>
							<li>
								<div class="buttons clearfix">
									<a th:href="@{/students/grades/{id}/edit(id=${grade.gradeId})}"
										class="edit">編集</a>
									<a th:href="@{/students/grades/{id}/delete(id=${grade.gradeId})}"
										class="delete">削除</a>
								</div>
							</li>
						</ul>
					</article>
				</li>
			</ul>
		</section>

		<section id="grade">
			<ul>
				<li th:each="grade : ${grade}">
					<article class="post">
						<ul>
							<li>
								<pre class="year" th:text="${grade.year}"></pre>
							</li>
							<li>
								<pre class="term" th:text="${grade.term}"></pre>
							</li>
							<li>
								<pre class="subject" th:text="${grade.subject}"></pre>
							</li>
							<li>
								<pre class="grade" th:text="${grade.rating}"></pre>
							</li>
							<li>
								<div class="buttons clearfix">
									<a th:href="@{/students/grades/{id}/edit(id=${grade.gradeId})}" class="edit">編集</a>
									<a th:href="@{/students/grades/{id}/delete(id=${grade.gradeId})}"
										class="delete">削除</a>
								</div>
							</li>
						</ul>
					</article>
				</li>
			</ul>
		</section>-->

		<a href="/students">生徒一覧にもどる</a>
	</div>
</body>

</html>