<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">
		<h2>成績</h2>

		<table border="1" style="border-collapse: collapse">
			<thead>
				<tr>
					<th rowspan="2">年度</th>
					<th colspan="9" scope="colgroup">1学期</th>
					<th colspan="9" scope="colgroup">2学期</th>
					<th colspan="9" scope="colgroup">3学期</th>
				</tr>
				<tr>
					<th:block th:each="kyouka : ${kyouka}">
						<th th:text="${kyouka.value}"></th>
					</th:block>
					<th:block th:each="kyouka : ${kyouka}">
						<th th:text="${kyouka.value}"></th>
					</th:block>
					<th:block th:each="kyouka : ${kyouka}">
						<th th:text="${kyouka.value}"></th>
					</th:block>
				</tr>
			</thead>
			<tbody>
				<tr th:each="studentYear, stat : ${studentsYear}">
					<td>
						<th:block th:text="${studentYear.year}"></th:block>
						<form th:action="@{/students/{id}/grade/edit (id=${student.studentId})}" th:method="get">
							<div class="form-group">
								<input class="form-control" type="hidden" name="year" th:value="${studentYear.year}" />
							</div>
							<button class="btn btn-default" type="submit">編集</button>
						</form>
					</td>
					<th:block th:each="grade : ${grade[__${stat.index}__]}">
						<td th:text="${grade?.rating}"></td>
					</th:block>
				</tr>
			</tbody>
		</table>

	</div>
</body>

</html>