<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">
		<h1>生徒一覧</h1>

		<form th:action="@{/students/search}" th:method="post">
			<label class="control-label">クラス検索</label>			
			<select type="number" name="year">
				<option value="2023">2023</option>
				<option value="2024" selected>2024</option>
				<option value="2025">2025</option>
				<option value="2026">2026</option>
				<option value="2027">2027</option>
				<option value="2028">2028</option>
				<option value="2029">2029</option>
				<option value="2030">2030</option>
			</select>
			<label class="control-label">年度</label>
			<select type="number" name="nen">
				<option value="1" selected>1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select>
			<label class="control-label">年</label>
			<select type="number" name="kumi">
				<option value="0" selected></option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
			</select>
			<label class="control-label">組</label>
			<button class="btn btn-default" type="submit">検索</button>
		</form>

		<table>
			<thead>
				<tr>
					<th>年度</th>
					<th>年</th>
					<th>組</th>
					<th>番</th>
					<th>生徒番号</th>
					<th>姓</th>
					<th>名</th>
					<th>せい</th>
					<th>めい</th>
					<th>生年月日</th>
					<th>性別</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="studentYear : ${studentsYear}">
					<td th:text="${studentYear.year}"></td>
					<td th:text="${studentYear.nen}"></td>
					<td th:text="${studentYear.kumi}"></td>
					<td th:text="${studentYear.ban}"></td>
					<td th:text="${studentYear.studentId}"></td>
					<div th:each="student : ${studentYear.students}">
						<td th:text="${student.lastName}"></td>
						<td th:text="${student.firstName}"></td>
						<td th:text="${student.lastNameKana}"></td>
						<td th:text="${student.firstNameKana}"></td>
						<td th:text="${#dates.format(student.birth, 'yyyy-MM-dd')}"></td>
						<td th:text="${student.gender}"></td>
					</div>
					<td><a class="buttons clearfix" th:href="@{/students/{id} (id=${studentYear.studentId})}">
							生徒詳細
						</a></td>

				</tr>
			</tbody>
		</table>
	</div>
</body>


</html>