<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="students">
		<h2>カルテ</h2>
		<form th:action="@{/students/karte/add}" th:method="post" th:object="${student}">
			<div class="form-group">
				<input class="form-control" type="hidden" th:field="*{studentId}" />
			</div>
			<div class="form-group">
				<label class="control-label">日付</label>
				<input class="form-control" type="date" name="date" />
			</div>
			<div class="form-group">
				<label class="control-label">内容</label>
				<input class="form-control" type="text" name="contents" />
			</div>
			<button class="btn btn-default" type="submit">登録</button>
		</form>

		<th:block th:if="${#lists.size(karte) == 0}">カルテはありません</th:block>

		<th:block th:if="${#lists.size(karte) > 0}">
			<span th:text="${#lists.size(karte)}" />件のカルテがみつかりました
			<table border="1" style="border-collapse: collapse">
				<thead>
					<tr>
						<th>日付</th>
						<th>内容</th>
						<th>更新者</th>
						<th>更新日時</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="karte : ${karte}">
						<td th:text="${#dates.format(karte.date, 'yyyy/M/d')}"></td>
						<td th:text="${karte.contents}"></td>
						<td th:text="${updateUser[__karte.updatedBy__]}"></td>
						<td th:text="${#dates.format(karte.updatedAt, 'yyyy-M-d HH:mm:ss')}"></td>
						<td><a th:href="@{/students/{id}/editKarte(id=${karte.karteId})}" class="edit">編集</a></td>
					</tr>
				</tbody>
			</table> 　　　　　　　　
		</th:block>

	</div>
</body>

</html>