<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">
		<h2>カルテ</h2>
		<form th:action="@{/students/{id}/karte/add (id=${student.studentId})}" th:method="post"
			th:object="${karteForm}">
			<div class="form-group">
				<label class="control-label">日付</label>
				<input class="form-control" type="date" th:field="*{date}" th:errorclass="border-danger" />
				<div class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">内容</label>
				<input class="form-control" type="textarea" name="contents" th:value="*{contents}"
					th:errorclass="border-danger" />
				<div class="text-danger" th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}">
				</div>
			</div>
			<button class="btn btn-default" type="submit">登録</button>
		</form>

		<th:block th:if="${#lists.size(karte) == 0}">カルテはありません</th:block>

		<th:block th:if="${#lists.size(karte) > 0}">
			<span th:text="${#lists.size(karte)}" />件のカルテがみつかりました
			<table border="1" style="border-collapse: collapse">
				<thead>
					<tr>
						<th>日付</th>
						<th>内容</th>
						<th>更新者</th>
						<th>更新日時</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="karte : ${karte}">
						<td th:text="${karte.date}"></td>
						<td th:text="${karte.contents}"></td>
						<td th:text="${updateUser[__karte.updatedBy__]}"></td>
						<td th:text="${#temporals.format(karte.updatedAt, 'yyyy-M-d HH:mm:ss')}"></td>
						<td><a th:href="@{/students/{id}/karte/edit(id=${karte.karteId})}" class="edit">編集</a></td>
					</tr>
				</tbody>
			</table> 　　　　　　　　
		</th:block>

	</div>
</body>

</html>