<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">
		<h2>生徒詳細</h2>
		<div><a class="buttons clearfix" th:href="@{/setting/students/{id}/edit (id=${student.studentId})}">
				生徒編集
			</a></div>

		<th:block th:if="${student.transferred == true}">転出済
		</th:block>

		<table border="1" style="border-collapse: collapse">
			<tr>
				<th colspan="3">生徒番号</th>
				<th colspan="8">名前</th>
				<th colspan="8">なまえ</th>
				<th colspan="4">生年月日</th>
				<th colspan="1">性別</th>
				　　　　　　　　　　　　　　　　<th colspan="8">保護者</th>
			</tr>
			<tr>
				<td colspan="3" th:text="${student.studentId}"></td>
				<td colspan="8" th:text="${student.lastName + ' ' + student.FirstName}"></td>
				<td colspan="8" th:text="${student.lastNameKana + ' ' + student.FirstNameKana}"></td>
				<td colspan="4" th:text="${#dates.format(student.birth, 'yyyy年M月d日')}"></td>
				<td colspan="1" 　th:text="${gender[__student.gender__]}"></td>
				<td colspan="8" th:text="${student.family1}"></td>
			</tr>
			<tr>
				<!--<th colspan="8">1年</th>
				<th colspan="8">2年</th>
				<th colspan="8">3年</th>-->

				<th:block th:each="studentYear : ${studentsYear}">

					<td colspan="8">
						<th:block th:if="${studentYear != null}">
							<div
								th:text="${studentYear?.year + '年度' + studentYear?.nen + '年' + studentYear?.kumi + '組' + studentYear?.ban + '番'}">
							</div>
						</th:block>
					</td>

				</th:block>

				<td colspan="8" th:text="${student.family2}"></td>
			</tr>
			<tr>
				<th:block th:each="studentYear, stat : ${studentsYear}">

					<td colspan="8" rowspan="5">
						<th:block th:if="${studentYear != null}">
							<th:block th:if="${images[__${stat.index}__] != null}">
								<img th:src="${'data:image/png;base64,'+images[__${stat.index}__]}" alt="写真" width="100">
							</th:block>
							<th:block th:if="${images[__${stat.index}__] == null}">
								写真未登録
							</th:block>
						</th:block>
					</td>
				</th:block>
				<th colspan="8">電話番号</th>
			</tr>
			<tr>
				<td colspan="8" th:text="${student.tel1}"></td>
			</tr>
			<tr>
				<td colspan="8" th:text="${student.tel2}"></td>
			</tr>
			<tr>
				<td colspan="8" th:text="${student.tel3}"></td>
			</tr>
			<tr>
				<td colspan="8" th:text="${student.tel4}"></td>
			</tr>
			<tr>
				<td>住所</td>
				<td colspan="31">
					<span th:text="${student.postalCode}" />
					<span th:text="${student.adress}" />
				</td>
			</tr>
			<tr>
				<td colspan="32" rowspan="3" th:text="${student.memo}"></td>
			</tr>
		</table>

		<div><a href="/setting/students">生徒管理にもどる</a></div>

		<br>
		<!--以下、管理用-->
		<table>
			<tr>
				<td>出席簿管理
					<table border="1" style="border-collapse: collapse">
						<tr>
							<td>ID</td>
							<td>日付</td>
							<td>記録</td>
						</tr>
						<tr th:each="attendance : ${attendance}">
							<td th:text="${attendance.attendanceId}"></td>
							<td th:text="${#dates.format(attendance.date, 'yyyy-MM-dd')}"></td>
							<td th:text="${syukketsu[__${attendance.kiroku}__]}"></td>
							<td><a
									th:href="@{/setting/students/{id}/deleteAttendance (id=${attendance.attendanceId})}">削除</a>
							</td>
						</tr>
					</table>
				</td>
				<td>成績管理
					<table border="1" style="border-collapse: collapse">
						<tr>
							<td>ID</td>
							<td>年度</td>
							<td>学期</td>
							<td>教科</td>
							<td>評定</td>
						</tr>
						<tr th:each="grade : ${grade}">
							<td th:text="${grade.gradeId}"></td>
							<td th:text="${grade.year}"></td>
							<td th:text="${grade.term}"></td>
							<td th:text="${kyouka[__${grade.subject}__]}"></td>
							<td th:text="${grade.rating}"></td>
							<td><a th:href="@{/setting/students/{id}/deleteGrade (id=${grade.gradeId})}">削除</a>
							</td>
						</tr>

					</table>
				</td>
			</tr>

		</table>

	</div>
</body>

</html>