<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">
		<header>
			<table>
				<tr>
					<td th:text="${attendance.studentId}"></td>
					<th:block th:each="student : ${attendance.students}">
						<td th:text="${student.lastName}"></td>
						<td th:text="${student.firstName}"></td>
						<td th:text="${student.lastNameKana}"></td>
						<td th:text="${student.firstNameKana}"></td>
						<td th:text="${#dates.format(student.birth, 'yyyy-MM-dd')}"></td>
						<td th:text="${student.gender}"></td>
					</th:block>
				</tr>
			</table>
		</header>

		<h2>出欠編集</h2>
		<form th:action="@{/students/{id}/updateAttendance (id=${attendance.attendanceId})}" th:method="post"
			th:object="${attendance}">
			<div class="form-group">
				<label class="control-label">日付</label>
				<input class="form-control" type="date" th:field="*{date}" />
			</div>
			<div class="form-group">
				<label class="control-label">出欠</label>
				<select th:field="*{kiroku}">
					<option value=""></option>
					<option value="1">／ : 欠席</option>
					<option value="2">×　: 遅刻</option>
					<option value="3">○　: 早退</option>
					<option value="4">×○ : 遅刻/早退</option>
					<option value="5">テ : 出停</option>
					<option value="6">キ : 忌引</option>
				</select>
			</div>

			<button class="btn btn-default" type="submit">更新</button>
		</form>

		<td><a class="buttons clearfix" th:href="@{/setting/students/{id}/deleteAttendance (id=${attendance.attendanceId})}">
				削除
			</a></td>
		<a th:href="@{/setting/students/{id} (id=${attendance.studentId})}">キャンセル</a>
		<a href="/setting/students">生徒管理にもどる</a>
		
	</div>
</body>

</html>