<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">
		<header>
			<table>
				<tr>
					<td th:text="${studentsYear.studentId}"></td>
					<th:block th:each="student : ${studentsYear.students}">
						<td th:text="${student.lastName}"></td>
						<td th:text="${student.firstName}"></td>
						<td th:text="${student.lastNameKana}"></td>
						<td th:text="${student.firstNameKana}"></td>
						<td th:text="${#dates.format(student.birth, 'yyyy-MM-dd')}"></td>
						<td th:text="${student.gender}"></td>
					</th:block>
				</tr>
			</table>
		</header>

		<h1>クラス編集</h1>
		<form th:action="@{/setting/students/{id}/updateClass (id=${studentsYear.studentYearId})}" th:method="post"
			th:object="${studentsYear}">
			<div class="form-group">
				<label class="control-label">年度</label>
				<select th:field="*{year}">
					<option value="2023">2023</option>
					<option value="2024">2024</option>
					<option value="2025">2025</option>
					<option value="2026">2026</option>
					<option value="2027">2027</option>
					<option value="2028">2028</option>
					<option value="2029">2029</option>
					<option value="2030">2030</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">年</label>
				<select name="nen">
					<option th:value="${studentsYear.nen}" th:text="${studentsYear.nen}"></option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">組</label>
				<select th:field="*{kumi}">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">番</label>
				<input class="form-control" type="number" th:field="*{ban}" />
			</div>

			★写真を編集するフォームを追加

			<button class="btn btn-default" type="submit">更新</button>
		</form>
		<a class="buttons clearfix" th:href="@{/setting/students/{id}/deleteClass (id=${studentsYear.studentYearId})}">
			削除
		</a><br>
		<a th:href="@{/setting/students/{id} (id=${studentsYear.studentId})}">キャンセル</a>
		<a href="/setting/students">生徒管理にもどる</a>

	</div>
</body>

</html>