<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">
		<div class="header-sub">
			<span class="headline"
				th:text="${'管理 > 生徒管理 > ' + student.studentId + ' ' + student.lastName + student.firstName + ' > 編集'}">
			</span>
			<span><a class="btn btn-secondary py-1 px-2" href="/setting/students">生徒管理にもどる</a></span>
		</div>

		<main>
			<div class="container">
				<form th:action="@{/setting/students/{id}/update (id=${student.studentId})}" th:method="post"
					th:object="${student}">
					<div class="row">
						<div>
							<span>*生徒ID</span>
							<span>
								<input style="width: auto;" type="number" name="studentId" th:value="*{studentId}"
									disabled />
							</span>
						</div>
					</div>
					<div class="row mt-1">
						<div class="col-5">
							<span>*姓</span>
							<span>
								<input type="text" name="lastName" th:value="*{lastName}"
									th:errorclass="border-danger" />
							</span>
							<span>*名</span>
							<span>
								<input type="text" name="firstName" th:value="*{firstName}"
									th:errorclass="border-danger" />
							</span>
						</div>
						<div class="col-5">
							<span>*せい</span>
							<span>
								<input type="text" name="lastNameKana" th:value="*{lastNameKana}"
									th:errorclass="border-danger" />
							</span>
							<span>*めい</span>
							<span>
								<input type="text" name="firstNameKana" th:value="*{firstNameKana}"
									th:errorclass="border-danger" />
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-5">
							<div th:object="${studentForm}">
								<span class="text-danger" th:if="${#fields.hasErrors('lastName')}"
									th:errors="*{lastName}"></span>
								<span class="text-danger" th:if="${#fields.hasErrors('firstName')}"
									th:errors="*{firstName}"></span>
							</div>
						</div>
						<div class="col-5">
							<div th:object="${studentForm}">
								<span class="text-danger" th:if="${#fields.hasErrors('lastNameKana')}"
									th:errors="*{lastNameKana}"></span>
								<span class="text-danger" th:if="${#fields.hasErrors('firstNameKana')}"
									th:errors="*{firstNameKana}"></span>
							</div>
						</div>
					</div>

					<div class="row mt-1">
						<div class="col-3">
							<span>*生年月日</span>
							<span>
								<input type="date" th:field="*{birth}" th:errorclass="border-danger" />
							</span>
						</div>
						<div class="col-3">
							<span>*性別</span>
							<span>
								<select th:field="*{gender}" th:errorclass="border-danger">
									<option value="1">男</option>
									<option value="2">女</option>
									<option value="3">他</option>
								</select>
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<div th:object="${studentForm}">
								<span class="text-danger" th:if="${#fields.hasErrors('birth')}"
									th:errors="*{birth}"></span>
							</div>
							<div class="col-3">
								<span class="text-danger" th:if="${#fields.hasErrors('gender')}"
									th:errors="*{gender}"></span>
							</div>
						</div>
					</div>
					<div class="row mt-1">
						<div class="col-3">
							<span>保護者1</span>
							<span>
								<input type="text" name="family1" th:value="*{family1}" th:errorclass="border-danger" />
							</span>
						</div>
						<div class="col-3">
							<span>保護者2</span>
							<span>
								<input type="text" name="family2" th:value="*{family2}" th:errorclass="border-danger" />
							</span>
						</div>
						<div class="col-6">
							<div th:object="${studentForm}">
								<span class="text-danger"
									th:if="${#fields.hasErrors('family1') || #fields.hasErrors('family2')}">「保護者名」は30文字以内で入力してください
								</span>
							</div>
						</div>
					</div>
					<div class="row mt-1">
						<div class="col-3">
							<span>電話1</span>
							<span>
								<input type="tel" name="tel1" th:value="*{tel1}" th:errorclass="border-danger" />
							</span>
						</div>
						<div class="col-3">
							<span>電話2</span>
							<span>
								<input type="tel" name="tel2" th:value="*{tel2}" th:errorclass="border-danger" />
							</span>
						</div>
						<div class="col-3">
							<span>電話3</span>
							<span>
								<input type="tel" name="tel3" th:value="*{tel3}" th:errorclass="border-danger" />
							</span>
						</div>
						<div class="col-3">
							<span>電話4</span>
							<span>
								<input type="tel" name="tel4" th:value="*{tel4}" th:errorclass="border-danger" />
							</span>
						</div>
					</div>
					<div class="row">
						<div th:object="${studentForm}">
							<span class="text-danger"
								th:if="${#fields.hasErrors('tel1') || #fields.hasErrors('tel2') || #fields.hasErrors('tel3') || #fields.hasErrors('tel4')}">「電話番号」は13桁以内で入力してください※半角数字,ハイフン(-)が使用できます</span>
						</div>
					</div>
					<div class="row mt-1">
						<div class="col-3">
							<span>郵便番号</span>
							<input type="text" name="postalCode" th:value="*{postalCode}"
								th:errorclass="border-danger" />
						</div>
						<div class="col-9">
							<span>住所</span>
							<input type="text" name="adress" th:value="*{adress}" th:errorclass="border-danger"
								style="width: 90%" />
						</div>
					</div>
					<div class="row">
						<div th:object="${studentForm}">
							<span class="text-danger" th:if="${#fields.hasErrors('postalCode')}"
								th:errors="*{postalCode}"></span>
							<span class="text-danger" th:if="${#fields.hasErrors('adress')}"
								th:errors="*{adress}"></span>
						</div>
					</div>
					<div class="row mt-1">
						<span>メモ</span>
					</div>
					<div class="row">
						<textarea th:field="*{memo}" th:errorclass="border-danger" style="height: 70px;"></textarea>
					</div>
					<div class="row">
						<div th:object="${studentForm}">
							<span class="text-danger" th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}"></span>
						</div>
					</div>
					<div class="row mt-1">
						<div class="col">
							<span>転出/卒業</span>
							<span>
								<input class="form-check-input" type="checkbox" role="switch" name="transferred"
									value="true" th:checked="*{transferred == true}">
							</span>
						</div>
					</div>
					<div class="mt-1" style="text-align: right;">
						<th:block th:if="${dataExists == false}">
							<a class="btn btn-danger" onClick="return checkDelete()"
								th:href="@{/setting/students/{id}/delete (id=${student.studentId})}">
								生徒削除
							</a>
						</th:block>
						<th:block th:if="${dataExists == true}">この生徒は削除できません</th:block>
						<a class="btn btn-secondary" style="margin-left:10px"
							th:href="@{/setting/students/{id} (id=${student.studentId})}">キャンセル</a>
						<button class="btn btn-success" style="margin-left:10px" onClick="return checkUpdate()"
							type="submit">更新</button>
					</div>
				</form>
			</div>
		</main>

	</div>
</body>

</html>