<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="content">
		<h2>生徒新規登録</h2>
		<div>*は必須項目</div>
		<br>
		<form th:action="@{/setting/students/add}" th:method="post">
			<div class="form-group">
				<label class="control-label">*生徒番号</label>
				<input class="form-control" type="number" name="studentId" />
			</div>
			<div class="form-group">
				<!-- バリデーションエラー時のメッセージ出力 -->
				<!--<p th:if="${#fields.hasErrors('lastName')}" class="error-message" th:errors="*{lastName}"></p>-->
				<label class="control-label">*姓</label>
				<input class="form-control" type="text" name="lastName" />
				<label class="control-label">*名</label>
				<input class="form-control" type="text" name="firstName" />
			</div>
			<div class="form-group">
				<label class="control-label">*せい</label>
				<input class="form-control" type="text" name="lastNameKana" />
				<label class="control-label">*めい</label>
				<input class="form-control" type="text" name="firstNameKana" />
			</div>
			<div class="form-group">
				<label class="control-label">*生年月日</label>
				<input class="form-control" type="date" name="birth" />
				<label class="control-label">*性別</label>
				<select name="gender">
					<option value="1">男</option>
					<option value="2">女</option>
					<option value="3">他</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label">保護者1</label>
				<input class="form-control" type="text" name="family1" />
				<label class="control-label">保護者2</label>
				<input class="form-control" type="text" name="family2" />
			</div>
			<div class="form-group">
				<label class="control-label">電話1</label>
				<input class="form-control" type="tel" name="tel1" />
				<label class="control-label">電話2</label>
				<input class="form-control" type="tel" name="tel2" />
				<label class="control-label">電話3</label>
				<input class="form-control" type="tel" name="tel3" />
				<label class="control-label">電話4</label>
				<input class="form-control" type="tel" name="tel4" />
			</div>
			<div class="form-group">
				<label class="control-label">郵便番号</label>
				<input class="form-control" type="text" name="postalCode" />
				<label class="control-label">住所</label>
				<input class="form-control" type="textarea" name="adress" />
			</div>
			<div class="form-group">
				<label class="control-label">メモ</label>
				<input class="form-control" type="textarea" name="memo" />
			</div>
			<button class="btn btn-default" type="submit">登録</button>
		</form>

		<a href="/setting/students">キャンセル</a>
	</div>
</body>

</html>